Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

chore: add CI summary job to satisfy branch protection gate
  .github/workflows/cerberus.yml
Due: format

fix(coach): address review feedback on AI SDK 6 migration
  src/app/api/coach/route.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

fix(observability): address review feedback on PostHog proxy
  next.config.ts
  src/components/posthog-provider.tsx
  src/middleware.ts
Due: format, lint, typecheck

fix(coach): address cerberus review — schemas, error handling, dependabot CI
  .github/workflows/cerberus.yml
  src/lib/coach/server/coach-tools.ts
Due: format, lint, typecheck

fix(observability): fix regex overmatch, hardcoded US regions, and missing PostHog CSP
  .github/workflows/cerberus.yml
  next.config.ts
  src/middleware.ts
Due: format, lint, typecheck

fix(coach): validate tool output at boundary, surface failures as error blocks
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

fix(coach): avoid tool block token bloat and restore model timeout
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

fix(coach): flag blockless tool outputs for planner parsing
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

test: cover coach tool wrapper paths
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/planner.test.ts
Due: format, lint, typecheck

fix: harden PostHog ingest proxy
  next.config.ts
  src/app/ingest/[[...path]]/route.ts
  src/components/posthog-provider.test.tsx
  src/components/posthog-provider.tsx
  src/middleware.ts
Due: format, lint, typecheck

fix: tighten ingest proxy security
  src/app/ingest/[[...path]]/route.ts
  src/components/posthog-provider.test.tsx
  src/components/posthog-provider.tsx
Due: format, lint, typecheck

test: add ingest proxy route coverage
  src/app/ingest/[[...path]]/route.test.ts
  src/components/posthog-provider.test.tsx
Due: format, lint, typecheck

feat: add PostHog /ingest proxy + respect_dnt (#360)
  .github/workflows/cerberus.yml
  src/app/ingest/[[...path]]/route.test.ts
  src/app/ingest/[[...path]]/route.ts
  src/components/posthog-provider.test.tsx
  src/components/posthog-provider.tsx
  src/middleware.ts
Due: format, lint, typecheck

refactor: polish coach planner stream-tool boundaries
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

test: unblock coach PR by covering runtime path and fixing flaky assertions
  src/app/api/coach/route.test.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

fix: address coach planner review blockers
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

refactor: harden coach planner cancellation path
  docs/coach-agent-architecture.md
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

feat(coach): migrate planner to AI SDK 6 streamText + createCoachTools factory (#363)
  .github/workflows/cerberus.yml
  .groom/retro.md
  bun.lock
  docs/coach-agent-architecture.md
  package.json
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck

docs: formalize #341 spec and architecture execution plan
  docs/design/341-agentic-ui-pivot-architecture.md
  docs/specs/341-agentic-ui-pivot-spec.md
  project.md
Due: format

docs: formalize #341 spec and architecture execution plan (#371)
  docs/design/341-agentic-ui-pivot-architecture.md
  docs/specs/341-agentic-ui-pivot-spec.md
  project.md
Due: format

feat: add coach agent action log with undo support
  convex/_generated/api.d.ts
  convex/agentActions.test.ts
  convex/agentActions.ts
  convex/schema.ts
  docs/design/343-agent-action-log-architecture.md
  docs/specs/343-agent-action-log-spec.md
  src/app/api/coach/route.ts
  src/components/coach/CoachBlockRenderer.tsx
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/schema.test.ts
  src/lib/coach/schema.ts
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/tools/tool-log-set.ts
  src/lib/coach/tools/types.ts
Due: format, lint, typecheck, convex-warning

fix: address review feedback for coach undo safety
  convex/agentActions.test.ts
  convex/agentActions.ts
  src/app/api/coach/route.ts
  src/components/coach/CoachBlockRenderer.test.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/tools/tool-log-set.ts
Due: format, lint, typecheck

test: expand undo coverage for review follow-ups
  convex/agentActions.test.ts
  src/lib/coach/agent-tools.test.ts
Due: format, lint, typecheck

fix: publish CI status for release-please PRs
  .github/workflows/release-please.yml
Due: format

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: format

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: format

feat: implement coach action log and snapshot undo (#372)
  .github/workflows/release-please.yml
  convex/_generated/api.d.ts
  convex/agentActions.test.ts
  convex/agentActions.ts
  convex/schema.ts
  docs/design/343-agent-action-log-architecture.md
  docs/specs/343-agent-action-log-spec.md
  src/app/api/coach/route.ts
  src/components/coach/CoachBlockRenderer.test.tsx
  src/components/coach/CoachBlockRenderer.tsx
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/schema.test.ts
  src/lib/coach/schema.ts
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/tools/tool-log-set.ts
  src/lib/coach/tools/types.ts
Due: format, lint, typecheck, convex-warning

fix: lock test reset endpoint to non-production deployments
  next.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
Due: format, lint, typecheck

chore: restore required CI status check workflow
  .github/workflows/ci.yml
Due: format

chore: sync bun lockfile with manifest
  bun.lock
Due: none

chore: set build env placeholders for CI workflow
  .github/workflows/ci.yml
Due: format

chore: provide Clerk env placeholders for CI build
  .github/workflows/ci.yml
Due: format

chore: run non-deploy checks in required CI workflow
  .github/workflows/ci.yml
Due: format

fix: harden deployment detection for test reset guard
  .github/workflows/ci.yml
  next.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/lib/environment.test.ts
  src/lib/environment.ts
Due: format, lint, typecheck

refactor: tighten server-side test reset guardrails
  next.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/lib/environment.test.ts
  src/lib/environment.ts
Due: format, lint, typecheck

test: cover core deployment environment cases
  src/lib/environment.test.ts
Due: format, lint, typecheck

fix: block test reset endpoint in production deployments (#374)
  .github/workflows/ci.yml
  bun.lock
  next.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/lib/environment.test.ts
  src/lib/environment.ts
Due: format, lint, typecheck

chore: pi agent foundation
  .pi/agents/pipelines.yaml
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/agents/teams.yaml
  .pi/agents/worker.md
  .pi/bootstrap-report.md
  .pi/prompts/deliver.md
  .pi/prompts/design.md
  .pi/prompts/discover.md
  .pi/prompts/review.md
  .pi/settings.json
  docs/pi-local-workflow.md
Due: format

feat: implement 3b design system token foundation
  src/app/globals.css
  src/app/layout.tsx
  src/config/design-tokens.ts
  src/lib/design-tokens.ts
  tailwind.config.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
