Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "‚ö†Ô∏è  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

docs: update AGENTS.md with Lefthook quality gates documentation
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  .husky/commit-msg
  .husky/post-checkout
  .husky/pre-commit
  .husky/pre-push
  AGENTS.md
  WORK_LOG.md
  package.json
  pnpm-lock.yaml
  scripts/verify-coverage.js
Due: format, lint

clean: remove remaining .husky artifacts from Lefthook migration
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
Due: none

fix: resolve critical quality gates issues identified in PR review
  .lefthook.yml
  scripts/verify-coverage.js
Due: format, lint

fix: resolve all critical quality gates issues and add configuration validation
  .lefthook.yml
  AGENTS.md
  BACKLOG.md
  package.json
  pnpm-lock.yaml
  scripts/validate-lefthook-config.js
Due: format, lint

docs: document Git 2.52.0 compatibility issue and troubleshooting guide
  .github/docs/CI-DEBUGGING.md
  BACKLOG.md
Due: format

docs: add comprehensive Git 2.52.0 compatibility debugging guide
  .github/workflows/ci.yml
Due: format

feat: Add comprehensive Lefthook quality gates (#69)
  .github/docs/CI-DEBUGGING.md
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/post-checkout
  .husky/pre-commit
  .husky/pre-push
  .lefthook.yml
  AGENTS.md
  BACKLOG.md
  TASK.md
  WORK_LOG.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/validate-lefthook-config.js
  scripts/verify-coverage.js
Due: format, lint

feat: add AI Reports v2 with structured visual output
  convex/_generated/api.d.ts
  convex/ai/dataV2.ts
  convex/ai/generateV2.ts
  convex/ai/openaiV2.ts
  convex/ai/promptsV2.ts
  convex/ai/reportV2Schema.ts
  convex/schema.ts
  src/components/analytics/report-navigator.tsx
  src/components/analytics/report-v2/AIReportCardV2.tsx
  src/components/analytics/report-v2/ActionDirective.tsx
  src/components/analytics/report-v2/MetricsRow.tsx
  src/components/analytics/report-v2/PRCelebration.tsx
  src/components/analytics/report-v2/ReportSkeleton.tsx
  src/components/analytics/report-v2/index.ts
  src/components/analytics/report-v2/types.ts
Due: format, lint, typecheck, convex-warning

docs: add SPEC.md and DESIGN.md for AI Reports v2
  DESIGN.md
  SPEC.md
Due: format

docs: update TASK.md with completion status
  TASK.md
Due: format

feat: extend AI Reports v2 to support daily, weekly, and monthly report types
  BACKLOG.md
  WORK_LOG.md
  convex/ai/dataV2.ts
  convex/ai/generateV2.ts
  convex/ai/openaiV2.ts
  convex/ai/reportV2Schema.ts
  convex/crons.ts
  src/components/analytics/report-v2/AIReportCardV2.tsx
  src/components/analytics/report-v2/types.ts
Due: format, lint, typecheck, convex-warning

fix: add retry logic and improve PR schema type safety
  convex/ai/generateV2.ts
  convex/ai/openaiV2.ts
  convex/ai/reportV2Schema.ts
  src/components/analytics/report-v2/types.ts
Due: format, lint, typecheck, convex-warning

chore: docs cleanup
  DESIGN.md
  SPEC.md
  TASK.md
Due: format

fix: address PR review feedback for AI Reports v2
  convex/ai/dataV2.ts
  convex/ai/dateUtils.ts
  convex/ai/generateV2.ts
Due: format, lint, typecheck, convex-warning

Add AI Reports v2 with structured visual output (#71)
  BACKLOG.md
  TASK.md
  WORK_LOG.md
  convex/_generated/api.d.ts
  convex/ai/dataV2.ts
  convex/ai/dateUtils.ts
  convex/ai/generateV2.ts
  convex/ai/openaiV2.ts
  convex/ai/promptsV2.ts
  convex/ai/reportV2Schema.ts
  convex/crons.ts
  convex/schema.ts
  src/components/analytics/report-navigator.tsx
  src/components/analytics/report-v2/AIReportCardV2.tsx
  src/components/analytics/report-v2/ActionDirective.tsx
  src/components/analytics/report-v2/MetricsRow.tsx
  src/components/analytics/report-v2/PRCelebration.tsx
  src/components/analytics/report-v2/ReportSkeleton.tsx
  src/components/analytics/report-v2/index.ts
  src/components/analytics/report-v2/types.ts
Due: format, lint, typecheck, convex-warning

fix: match dashboard skeleton to actual content structure
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardSkeleton.tsx
Due: format, lint, typecheck

fix: add mobile skeleton layout and remove carousel placeholder
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardSkeleton.tsx
Due: format, lint, typecheck

fix: improve first-run experience layout
  src/components/dashboard/first-run-experience.tsx
Due: format, lint, typecheck

fix: match dashboard skeleton to actual content structure (#156)
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardSkeleton.tsx
  src/components/dashboard/first-run-experience.tsx
Due: format, lint, typecheck

fix: use design system components in first-run experience (closes #141)
  src/components/dashboard/first-run-experience.tsx
Due: format, lint, typecheck

fix: remove deprecated package-name from release-please config
  .github/workflows/release-please.yml
Due: format

fix: apply focus scaling only to numeric inputs in BrutalistInput (#141)
  src/components/brutalist/BrutalistInput.tsx
  src/components/dashboard/first-run-experience.tsx
Due: format, lint, typecheck

Use design system components in first-run experience (#157)
  src/components/brutalist/BrutalistInput.tsx
  src/components/dashboard/first-run-experience.tsx
Due: format, lint, typecheck

feat: add value proposition and feature cards to landing page (closes #140)
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck

fix: add empty changeset for setup-node version bump
  .changeset/bump-setup-node-v6.md
Due: format

feat: add elite-level micro-interactions to landing page
  src/app/globals.css
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck

fix: address PR review feedback for landing page
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck

Add value proposition and elite micro-interactions to landing page (#160)
  src/app/globals.css
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck

chore: migrate backlog to gh issues
  BACKLOG.md
Due: format

feat(ux): add spinner and loading text for AI exercise classification (#164)
  src/components/dashboard/first-run-experience.tsx
  src/components/dashboard/inline-exercise-creator.tsx
Due: format, lint, typecheck

fix: validate muscle groups against canonical list
  convex/ai/openai.ts
  convex/exercises.ts
  convex/lib/muscle-groups.ts
  src/components/dashboard/edit-muscle-groups-dialog.tsx
  src/components/dashboard/inline-exercise-creator.test.tsx
Due: format, lint, typecheck, convex-warning

feat(ux): add spinner and loading text for AI exercise classification (#164) (#229)
  src/components/dashboard/first-run-experience.tsx
  src/components/dashboard/inline-exercise-creator.tsx
Due: format, lint, typecheck

fix: rename muscle-groups.ts to fix Convex build
  convex/_generated/api.d.ts
  convex/ai/openai.ts
  convex/exercises.ts
  convex/lib/muscleGroups.ts
  src/components/dashboard/edit-muscle-groups-dialog.tsx
Due: format, lint, typecheck, convex-warning

fix: validate muscle groups against canonical list (#230)
  convex/_generated/api.d.ts
  convex/ai/openai.ts
  convex/exercises.ts
  convex/lib/muscleGroups.ts
  src/components/dashboard/edit-muscle-groups-dialog.tsx
  src/components/dashboard/inline-exercise-creator.test.tsx
Due: format, lint, typecheck, convex-warning

feat: add platform stats for social proof on landing page (closes #226)
  convex/_generated/api.d.ts
  convex/platformStats.test.ts
  convex/platformStats.ts
  src/components/landing/PlatformStats.tsx
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck, convex-warning

fix: use pre-aggregated stats cache for landing page performance (#232)
  convex/crons.ts
  convex/platformStats.test.ts
  convex/platformStats.ts
  convex/schema.ts
  src/components/landing/PlatformStats.tsx
Due: format, lint, typecheck

Add social proof stats to landing page (#232)
  convex/_generated/api.d.ts
  convex/crons.ts
  convex/platformStats.test.ts
  convex/platformStats.ts
  convex/schema.ts
  src/components/landing/PlatformStats.tsx
  src/components/landing/UnauthenticatedLanding.tsx
Due: format, lint, typecheck, convex-warning

feat: add comprehensive tests for Lefthook configuration validator (#177)
  .lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/validate-lefthook-config.js
  scripts/validate-lefthook-config.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  vitest.config.ts
Due: format, lint, typecheck

docs: add README files for src/lib and src/hooks
  src/hooks/README.md
  src/lib/README.md
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
