Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

.lefthook.yml:

# Lefthook Quality Gates Configuration
# Simple interface, powerful implementation

# Fast, iterative quality checks (sub-second)
pre-commit:
  parallel: true
  commands:
    # === Security Scanning (Critical) ===
    security-scan:
      run: trufflehog git file://. --only-verified --fail --no-update
      fail_text: "❌ Secrets detected! Remove before committing."

    # === Code Formatting (Auto-fixable) ===
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      fail_text: "Formatting issues auto-fixed. Review and re-commit."

    # === Code Quality (Auto-fixable) ===
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: "Linting issues auto-fixed. Review and re-commit."

    # === Type Safety (Fast Incremental) ===
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript errors found. Fix before committing."

    # === Configuration Validation ===
    validate-config:
      run: npx tsx scripts/validate-lefthook-config.ts
      fail_text: "❌ Configuration validation failed. Fix issues before committing."

    # === Convex Integration (Project-specific) ===
    convex-warning:
      glob: "convex/**/*.ts"
      run: |
        echo ""
        echo "⚠️  Convex function changes detected"
        echo "   Ensure you've tested with: pnpm dev"
        echo "   (runs both Next.js AND Convex)"
        echo ""
      interactive: false

# Commit message standards
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}
      fail_text: "❌ Commit message doesn't follow conventional commit standard."

# Comprehensive quality gates (full verification)
pre-push:
  parallel: true
  commands:
    # === Test Suite (Correctness) ===
    test-suite:
      run: "NODE_ENV=test CI=true pnpm test:coverage"
      fail_text: "❌ Test suite failed. Run 'pnpm test' for details."

    # === Build Verification (Integration) ===
    build-check:
      run: pnpm build
      fail_text: "❌ Build failed. Fix build errors before pushing."

    # === Security Audit (Vulnerabilities) ===
    security-audit:
      run: pnpm audit --audit-level=high
      fail_text: "❌ Security vulnerabilities found. Run 'pnpm audit' for details."

    # === Bundle Analysis (Performance) ===
    bundle-analysis:
      run: pnpm analyze
      fail_text: "❌ Bundle analysis failed. Review bundle size changes."
      only:
        - ref: master

# Post-checkout Convex type regeneration
post-checkout:
  commands:
    convex-types:
      run: |
        echo ""
        echo "⚠️  Convex functions changed between branches"
        echo "   Run: pnpm dev (or pnpm dev:convex)"
        echo "   to sync types and deployment"
        echo ""
      glob: "convex/**/*"

fix: keep mobile coach composer visible when keyboard opens (#399)
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
Due: format, lint, typecheck

feat(coach): tool wave 1 — edit, bulk log, and history tools (#345)
  convex/sets.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-bulk-log.test.ts
  src/lib/coach/tools/tool-bulk-log.ts
  src/lib/coach/tools/tool-date-range-sets.test.ts
  src/lib/coach/tools/tool-date-range-sets.ts
  src/lib/coach/tools/tool-edit-set.test.ts
  src/lib/coach/tools/tool-edit-set.ts
  src/lib/coach/tools/tool-exercise-history.test.ts
  src/lib/coach/tools/tool-exercise-history.ts
  src/lib/coach/tools/tool-workout-session.test.ts
  src/lib/coach/tools/tool-workout-session.ts
Due: format, lint, typecheck

fix: address coach tool review findings
  convex/sets.test.ts
  convex/sets.ts
  src/lib/coach/tools/helpers.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-bulk-log.ts
  src/lib/coach/tools/tool-date-range-sets.test.ts
  src/lib/coach/tools/tool-date-range-sets.ts
  src/lib/coach/tools/tool-edit-set.test.ts
  src/lib/coach/tools/tool-edit-set.ts
  src/lib/coach/tools/tool-workout-session.test.ts
  src/lib/coach/tools/tool-workout-session.ts
Due: format, lint, typecheck

feat(coach): tool wave 1 — edit, bulk log, and history tools (#401)
  convex/sets.test.ts
  convex/sets.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/tools/helpers.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-bulk-log.test.ts
  src/lib/coach/tools/tool-bulk-log.ts
  src/lib/coach/tools/tool-date-range-sets.test.ts
  src/lib/coach/tools/tool-date-range-sets.ts
  src/lib/coach/tools/tool-edit-set.test.ts
  src/lib/coach/tools/tool-edit-set.ts
  src/lib/coach/tools/tool-exercise-history.test.ts
  src/lib/coach/tools/tool-exercise-history.ts
  src/lib/coach/tools/tool-workout-session.test.ts
  src/lib/coach/tools/tool-workout-session.ts
Due: format, lint, typecheck

refactor: remove deterministic coach fallback parser
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/lib/coach/prototype-intent.test.ts
  src/lib/coach/prototype-intent.ts
  src/lib/coach/server/blocks.test.ts
  src/lib/coach/server/blocks.ts
  src/lib/coach/server/fallback.test.ts
  src/lib/coach/server/fallback.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck

docs: align coach architecture with agent-only runtime
  docs/design/341-agentic-ui-pivot-architecture.md
  docs/prototype-rush-plan.md
  docs/specs/341-agentic-ui-pivot-spec.md
  project.md
Due: format

ci: add trufflehog workflow
  .github/workflows/trufflehog.yml
Due: format

ci: add trufflehog workflow (#406)
  .github/workflows/trufflehog.yml
Due: format

chore: add agent-agnostic manual QA skill
  .agents/skills/README.md
  .agents/skills/volume-manual-qa/SKILL.md
  .agents/skills/volume-manual-qa/references/core-flows.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  .claude/skills
  .gitignore
  README.md
Due: format

fix: address PR review findings for coach failure paths
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.ts
  src/lib/coach/server/blocks.test.ts
  src/lib/coach/server/blocks.ts
Due: format, lint, typecheck

fix: remove duplicate trufflehog fail flag
  .github/workflows/trufflehog.yml
Due: format

fix: address remaining PR review findings
  .agents/skills/volume-manual-qa/SKILL.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  README.md
  src/app/api/coach/route.test.ts
  src/lib/coach/server/blocks.test.ts
  src/lib/coach/server/blocks.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck

fix: harden manual QA startup checks
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
Due: none

fix: harden volume manual qa startup
  .agents/skills/volume-manual-qa/SKILL.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  README.md
Due: format

refactor: polish coach failure path handling
  .agents/skills/volume-manual-qa/references/core-flows.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  README.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/lib/coach/server/blocks.ts
Due: format, lint, typecheck

ci: rename quality gate to merge-gate
  .github/workflows/ci.yml
Due: format

refactor: polish coach response confidence
  docs/coach-agent-architecture.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
Due: format, lint, typecheck

fix: remove deterministic coach fallback parser (#405)
  .agents/skills/README.md
  .agents/skills/volume-manual-qa/SKILL.md
  .agents/skills/volume-manual-qa/references/core-flows.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  .claude/skills
  .github/workflows/ci.yml
  .github/workflows/trufflehog.yml
  .gitignore
  README.md
  docs/coach-agent-architecture.md
  docs/design/341-agentic-ui-pivot-architecture.md
  docs/prototype-rush-plan.md
  docs/specs/341-agentic-ui-pivot-spec.md
  project.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/lib/coach/prototype-intent.test.ts
  src/lib/coach/prototype-intent.ts
  src/lib/coach/server/blocks.test.ts
  src/lib/coach/server/blocks.ts
  src/lib/coach/server/fallback.test.ts
  src/lib/coach/server/fallback.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck

fix(ci): align release-please status context and fix trufflehog --fail dup
  .github/workflows/release-please.yml
  .github/workflows/trufflehog.yml
Due: format

chore: remove redundant claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: format

ci: rename quality gate to merge-gate and reduce review noise (#407)
  .github/workflows/claude-code-review.yml
  .github/workflows/release-please.yml
Due: format

fix: restore prod coach runtime and harden env validation
  .github/DEPLOYMENT_CHECKLIST.md
  .github/pull_request_template.md
  INCIDENT-20260307T002835Z.md
  scripts/verify-env.sh
Due: format

fix: address env validation review feedback
  .github/DEPLOYMENT_CHECKLIST.md
  INCIDENT-20260307T002835Z.md
  scripts/verify-env.sh
Due: format

docs: clarify env validation constraints
  scripts/verify-env.sh
Due: none

fix: restore prod coach runtime and harden env validation (#410)
  .github/DEPLOYMENT_CHECKLIST.md
  .github/pull_request_template.md
  INCIDENT-20260307T002835Z.md
  scripts/verify-env.sh
Due: format

refactor: share coach turn orchestration
  docs/coach-agent-architecture.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

docs: log #338 retro
  .groom/retro.md
Due: format

docs: refresh roadmap focus
  .groom/plan-2026-03-07.md
  project.md
Due: format

fix: address coach PR review feedback
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

test: cover coach turn abort paths
  src/lib/coach/server/turn-runner.test.ts
Due: format, lint, typecheck

fix: honor pre-aborted coach requests
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

fix: unify coach error sanitization
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

docs: clarify coach route boundaries
  docs/coach-agent-architecture.md
Due: format

refactor: share coach turn orchestration (#417)
  .groom/retro.md
  docs/coach-agent-architecture.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

test: rework coach-first e2e suite
  .github/workflows/e2e.yml
  .lefthook.yml
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/auth.setup.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
  e2e/env.ts
  e2e/error-scenarios.spec.ts
  e2e/subscription-flow.spec.ts
  package.json
  playwright.config.ts
  src/test/e2e-env.test.ts
Due: format, lint, typecheck

test: restore e2e coverage after coach merge
  e2e/auth-fixture.ts
  e2e/coach-flows.spec.ts
  e2e/critical-flow.spec.ts
  e2e/error-scenarios.spec.ts
  e2e/subscription-flow.spec.ts
  src/lib/coach/tools/tool-log-set.test.ts
Due: format, lint, typecheck
