Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

feat(coach): add persistent user memory
  convex/_generated/api.d.ts
  convex/schema.ts
  convex/userMemories.test.ts
  convex/userMemories.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/agent-prompt.ts
  src/lib/coach/memory.ts
  src/lib/coach/server/memory-pipeline.test.ts
  src/lib/coach/server/memory-pipeline.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/tools/registry.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-manage-memories.test.ts
  src/lib/coach/tools/tool-manage-memories.ts
Due: format, lint, typecheck, convex-warning

fix(e2e): restore hosted reset compatibility
  convex/userMemories.test.ts
  convex/userMemories.ts
  e2e/coach-flows.spec.ts
  src/app/api/test/reset/route.test.ts
Due: format, lint, typecheck

test(memory): cover explicit duplicate detection
  convex/userMemories.test.ts
Due: format, lint, typecheck

fix(coach): harden user memory persistence
  convex/userMemories.test.ts
  convex/userMemories.ts
  e2e/coach-flows.spec.ts
  src/lib/coach/server/planner.test.ts
Due: format, lint, typecheck

fix(coach): settle memory review gaps
  convex/userMemories.test.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.test.tsx
  src/lib/coach/end-of-turn-suggestions.test.ts
  src/lib/coach/server/planner.test.ts
Due: format, lint, typecheck

fix(coach): settle memory review gaps
  convex/userMemories.test.ts
  convex/userMemories.ts
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/memory.ts
  src/lib/coach/server/memory-pipeline.test.ts
  src/lib/coach/server/memory-pipeline.ts
  src/lib/coach/tools/schemas.ts
Due: format, lint, typecheck

fix(coach): harden memory persistence flow
  convex/userMemories.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.test.tsx
Due: format, lint, typecheck

fix(e2e): decouple coach state checks
  e2e/coach-flows.spec.ts
Due: format, lint, typecheck

fix(e2e): relax flaky coach action assertions
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

fix(memory): honor selective observation retention
  convex/userMemories.test.ts
  convex/userMemories.ts
Due: format, lint, typecheck

fix(e2e): harden coach follow-up checks
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
Due: format, lint, typecheck

fix(coach): normalize fallback suggestion tools
  src/lib/coach/end-of-turn-suggestions.test.ts
Due: format, lint, typecheck

fix(e2e): tolerate reset races
  src/app/api/test/reset/route.ts
Due: format, lint, typecheck

feat(coach): add persistent user memory (#442)
  convex/_generated/api.d.ts
  convex/schema.ts
  convex/userMemories.test.ts
  convex/userMemories.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-prompt.ts
  src/lib/coach/memory.ts
  src/lib/coach/server/memory-pipeline.test.ts
  src/lib/coach/server/memory-pipeline.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/tools/registry.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-manage-memories.test.ts
  src/lib/coach/tools/tool-manage-memories.ts
Due: format, lint, typecheck, convex-warning

chore: improve repo readiness and hook setup
  .editorconfig
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .lefthook.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  backlog.d/001-restore-working-security-audit-gate.md
  backlog.d/002-parallelize-and-cache-quality-checks.md
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  backlog.d/004-add-repository-license.md
  backlog.d/005-harden-runtime-observability-paths.md
  backlog.d/006-complete-clone-to-run-bootstrap.md
  backlog.d/007-tighten-governance-baselines.md
  bun.lock
  convex/lib/stripeConfig.ts
  docs/api-contracts.md
  package.json
  scripts/setup.sh
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  src/lib/stripe/config.ts
  src/lib/stripe/server.test.ts
Due: format, lint, typecheck, convex-warning

fix: stabilize audit and coverage gates
  bun.lock
  package.json
  patches/test-exclude@7.0.2.patch
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

fix: address review feedback
  .editorconfig
  CONTRIBUTING.md
  docs/api-contracts.md
  scripts/setup.sh
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  src/lib/stripe/server.test.ts
Due: format, lint, typecheck

fix: keep coach workspace resilient to ticker failures
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
  src/lib/lefthook-validator.test.ts
Due: format, lint, typecheck

[codex] improve repo readiness and hook setup (#457)
  .editorconfig
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .lefthook.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  backlog.d/001-restore-working-security-audit-gate.md
  backlog.d/002-parallelize-and-cache-quality-checks.md
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  backlog.d/004-add-repository-license.md
  backlog.d/005-harden-runtime-observability-paths.md
  backlog.d/006-complete-clone-to-run-bootstrap.md
  backlog.d/007-tighten-governance-baselines.md
  bun.lock
  convex/lib/stripeConfig.ts
  docs/api-contracts.md
  package.json
  patches/test-exclude@7.0.2.patch
  scripts/setup.sh
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  src/lib/stripe/config.ts
  src/lib/stripe/server.test.ts
Due: format, lint, typecheck, convex-warning

fix: restore quality gates — Stripe API version + middleware→proxy
  backlog.d/008-fix-stripe-version-restore-quality-gates.md
  convex/lib/stripeConfig.ts
  src/lib/stripe/config.test.ts
  src/lib/stripe/config.ts
  src/lib/stripe/server.test.ts
  src/proxy.ts
  vitest.config.ts
Due: format, lint, typecheck, convex-warning

chore(backlog): add agent-readiness items, archive completed 001
  backlog.d/002-parallelize-and-cache-quality-checks.md
  backlog.d/009-enforce-conventions-for-agent-readiness.md
  backlog.d/_done/001-restore-working-security-audit-gate.md
Due: format

chore(backlog): archive completed 008
  backlog.d/_done/008-fix-stripe-version-restore-quality-gates.md
Due: format

feat(ci): parallelize quality checks and add dependency caching
  .github/workflows/ci.yml
  .lefthook.yml
  backlog.d/002-parallelize-and-cache-quality-checks.md
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

chore(backlog): mark 002 as done with implementation notes
  backlog.d/002-parallelize-and-cache-quality-checks.md
Due: format

fix(ci): add build job, fix merge-gate bypass, bump Stripe API version
  .github/workflows/ci.yml
  convex/lib/stripeConfig.ts
  src/lib/stripe/config.ts
Due: format, lint, typecheck, convex-warning

fix: correct case-sensitive path in Stripe version test
  src/lib/stripe/config.test.ts
Due: format, lint, typecheck

refactor(ci): harden cache strategy, generalize validator, document gate invariant
  .github/workflows/ci.yml
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

chore: remove Cerberus workflow — moving to a different review solution
  .github/workflows/cerberus.yml
Due: format

feat(ci): parallelize quality checks and add dependency caching (#459)
  .github/workflows/ci.yml
  .lefthook.yml
  backlog.d/002-parallelize-and-cache-quality-checks.md
  convex/lib/stripeConfig.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  src/lib/stripe/config.test.ts
  src/lib/stripe/config.ts
Due: format, lint, typecheck, convex-warning

feat: reduce coach latency and swap to Gemini Flash Lite
  convex/ai/reports.test.ts
  convex/lib/openrouter.test.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/openrouter/policy.ts
Due: format, lint, typecheck, convex-warning

fix: midnight session rollover and pricing type safety
  src/components/coach/useCoachChat.ts
  src/lib/openrouter/policy.ts
Due: format, lint, typecheck

chore: record review score for #462
  .groom/review-scores.ndjson
Due: none

feat: reduce coach latency and swap to Gemini Flash Lite (#462)
  .groom/review-scores.ndjson
  convex/ai/reports.test.ts
  convex/lib/openrouter.test.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/openrouter/policy.ts
Due: format, lint, typecheck, convex-warning

feat: enforce convex import boundary and coach tool registration
  .groom/review-scores.ndjson
  CLAUDE.md
  docs/patterns/coach-tools.md
  eslint.config.mjs
  src/lib/coach/tools/registry.test.ts
Due: format, lint, typecheck

chore(backlog): mark 009 done with implementation notes
  backlog.d/009-enforce-conventions-for-agent-readiness.md
Due: format

fix: add vacuous-pass guard to registry test
  .groom/review-scores.ndjson
  src/lib/coach/tools/registry.test.ts
Due: format, lint, typecheck

fix: address bot review feedback on PR #463
  docs/patterns/coach-tools.md
  eslint.config.mjs
  src/lib/coach/tools/registry.test.ts
Due: format, lint, typecheck

feat: enforce convex import boundary and coach tool registration (#463)
  .groom/review-scores.ndjson
  CLAUDE.md
  backlog.d/009-enforce-conventions-for-agent-readiness.md
  docs/patterns/coach-tools.md
  eslint.config.mjs
  src/lib/coach/tools/registry.test.ts
Due: format, lint, typecheck

chore: add architecture verification gates
  .github/workflows/ci.yml
  .lefthook.yml
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  eslint.config.mjs
  eslint.config.test.ts
  package.json
  scripts/verify-architecture.ts
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
  src/lib/ci-workflow.test.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
