Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

test: add coverage for user preferences and AI prompts (#282)
  convex/ai/prompts.test.ts
  convex/users.test.ts
Due: format, lint, typecheck, convex-warning

fix: address code review findings with TDD approach (#282)
  convex/ai/prompts.test.ts
  convex/ai/prompts.ts
  src/components/dashboard/profile-nudge-banner.tsx
  src/components/settings/coach-notes-form.tsx
  src/components/settings/goals-form.tsx
Due: format, lint, typecheck, convex-warning

fix: address PR review feedback (#282)
  convex/ai/prompts.ts
  convex/users.test.ts
  convex/users.ts
Due: format, lint, typecheck, convex-warning

docs: codify Convex development patterns from PR review
  CLAUDE.md
Due: format

refactor: derive goal validators from GOAL_TYPES constant (#282)
  convex/schema.ts
  convex/users.ts
Due: format, lint, typecheck

feat: user preferences for AI coaching (#312)
  CLAUDE.md
  convex/ai/data.ts
  convex/ai/generate.ts
  convex/ai/openai.ts
  convex/ai/prompts.test.ts
  convex/ai/prompts.ts
  convex/schema.ts
  convex/users.test.ts
  convex/users.ts
  src/app/(app)/settings/page.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/profile-nudge-banner.tsx
  src/components/settings/coach-notes-form.tsx
  src/components/settings/goals-form.tsx
  src/components/ui/textarea.tsx
  src/lib/goals.ts
Due: format, lint, typecheck, convex-warning

fix: resolve Sentry production issues VOLUME-1, VOLUME-2, VOLUME-4
  convex/platformStats.ts
  convex/sets.ts
  convex/users.ts
Due: format, lint, typecheck

refactor(ai): migrate reports.ts from V1 to V2 generation (#288)
  convex/ai/reports.ts
Due: format, lint, typecheck, convex-warning

refactor(ai): extract classifyExercise, delete V1 files (#288)
  convex/ai/classify.ts
  convex/ai/data.ts
  convex/ai/dataV2.ts
  convex/ai/generate.ts
  convex/ai/generateV2.ts
  convex/ai/openai.test.ts
  convex/ai/openai.ts
  convex/ai/prompts.test.ts
  convex/ai/prompts.ts
  convex/ai/reports.test.ts
  convex/exercises.ts
  convex/migrations/backfillMuscleGroups.ts
Due: format, lint, typecheck, convex-warning

refactor(ai): rename V2 files to canonical names (#288)
  convex/README.md
  convex/ai/data.ts
  convex/ai/generate.ts
  convex/ai/llm.ts
  convex/ai/prompts.ts
  convex/ai/reportSchema.ts
  convex/ai/reports.test.ts
  convex/ai/reports.ts
  convex/crons.ts
Due: format, lint, typecheck, convex-warning

refactor(ai): remove V2 references from comments and logs (#288)
  convex/ai/data.ts
  convex/ai/generate.ts
  convex/ai/llm.ts
Due: format, lint, typecheck, convex-warning

test: add tests to meet 70% function coverage threshold
  convex/ai/classify.test.ts
  convex/ai/prompts.test.ts
  convex/ai/reportSchema.test.ts
  convex/http.test.ts
  convex/lib/openrouter.test.ts
  src/lib/logger.test.ts
  src/lib/releases/loader.test.ts
  src/lib/releases/parser.test.ts
  src/lib/releases/types.test.ts
  src/lib/utils.test.ts
Due: format, lint, typecheck, convex-warning

fix: increase touch target sizes for exercise selector on mobile
  src/components/dashboard/exercise-selector-dialog.tsx
Due: format, lint, typecheck

fix(ai): bodyweight volume + remove unused query
  convex/ai/data.ts
  convex/ai/generate.ts
Due: format, lint, typecheck, convex-warning

refactor(ai): consolidate V1/V2 implementations (closes #288) (#321)
  convex/README.md
  convex/ai/classify.test.ts
  convex/ai/classify.ts
  convex/ai/data.ts
  convex/ai/dataV2.ts
  convex/ai/generate.ts
  convex/ai/generateV2.ts
  convex/ai/llm.ts
  convex/ai/openai.test.ts
  convex/ai/openai.ts
  convex/ai/prompts.test.ts
  convex/ai/prompts.ts
  convex/ai/promptsV2.ts
  convex/ai/reportSchema.test.ts
  convex/ai/reportSchema.ts
  convex/ai/reports.test.ts
  convex/ai/reports.ts
  convex/crons.ts
  convex/exercises.ts
  convex/http.test.ts
  convex/lib/openrouter.test.ts
  convex/migrations/backfillMuscleGroups.ts
  src/lib/logger.test.ts
  src/lib/releases/loader.test.ts
  src/lib/releases/parser.test.ts
  src/lib/releases/types.test.ts
  src/lib/utils.test.ts
Due: format, lint, typecheck, convex-warning

refactor: simplify platform stats pagination loop
  convex/platformStats.ts
Due: format, lint, typecheck

docs: add brand guidelines documentation
  docs/brand/README.md
  docs/brand/colors.md
  docs/brand/typography.md
  docs/brand/voice.md
Due: format

fix: resolve Sentry production issues VOLUME-1, VOLUME-2, VOLUME-4 (#320)
  convex/platformStats.ts
  convex/sets.ts
  convex/users.ts
Due: format, lint, typecheck

ci: integrate Cerberus AI code review council v1
  .github/workflows/cerberus.yml
Due: format

ci: integrate Cerberus AI code review council
  .github/workflows/cerberus.yml
Due: format

docs: add brand guidelines documentation (#332)
  docs/brand/README.md
  docs/brand/colors.md
  docs/brand/typography.md
  docs/brand/voice.md
Due: format

fix: increase touch target sizes for exercise selector on mobile (#323)
  src/components/dashboard/exercise-selector-dialog.tsx
Due: format, lint, typecheck

feat: Add tactile feedback on button presses (#262)
  src/app/(app)/settings/page.tsx
  src/components/dashboard/quick-log-form.tsx
  src/hooks/useTactileFeedback.ts
  src/hooks/useTactileSoundPreference.ts
  src/lib/brutalist-motion.ts
  src/lib/sounds/click.ts
  src/lib/tactile-audio.ts
Due: format, lint, typecheck

docs: add agentic coach vision and plan
  docs/agentic-rebuild-vision.md
  docs/coach-agent-architecture.md
  docs/prototype-rush-plan.md
Due: format

feat: add agentic coach prototype
  src/app/(app)/coach/page.tsx
  src/app/api/coach/route.ts
  src/components/coach/CoachPrototype.tsx
  src/components/layout/bottom-nav.tsx
  src/components/layout/nav.tsx
  src/lib/coach/agent-prompt.ts
  src/lib/coach/agent-tools.ts
  src/lib/coach/prototype-analytics.ts
  src/lib/coach/prototype-intent.ts
  src/lib/coach/schema.ts
Due: format, lint, typecheck

test: add coach prototype unit tests
  src/lib/coach/prototype-analytics.test.ts
  src/lib/coach/prototype-intent.test.ts
Due: format, lint, typecheck

chore: regenerate convex api types
  convex/_generated/api.d.ts
Due: format, lint, typecheck, convex-warning

test: cover coach agent tools and schema
  src/lib/coach/agent-prompt.test.ts
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/schema.test.ts
Due: format, lint, typecheck

chore(ci): wire cerberus openrouter api key
  .github/workflows/cerberus.yml
Due: format

chore(ci): install pnpm for cerberus
  .github/workflows/cerberus.yml
Due: format

chore(ci): add opencode agents for cerberus
  .github/workflows/cerberus.yml
  .opencode/agents/architecture.md
  .opencode/agents/correctness.md
  .opencode/agents/maintainability.md
  .opencode/agents/performance.md
  .opencode/agents/security.md
Due: format

fix: harden coach prototype turn handling
  src/app/api/coach/route.ts
  src/components/coach/CoachPrototype.tsx
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/agent-tools.ts
  src/lib/coach/schema.test.ts
  src/lib/coach/schema.ts
  src/lib/date-utils.test.ts
  src/lib/date-utils.ts
Due: format, lint, typecheck

chore: align cerberus correctness fail rule
  .opencode/agents/correctness.md
Due: format

chore: switch LLM defaults to OpenRouter portfolio
  .env.example
  .github/DEPLOYMENT_CHECKLIST.md
  .github/pull_request_template.md
  CLAUDE.md
  README.md
  convex/README.md
  convex/ai/classify.ts
  convex/ai/llm.ts
  convex/ai/reports.test.ts
  convex/crons.ts
  convex/exercises.ts
  convex/lib/openrouter.test.ts
  convex/lib/openrouter.ts
  convex/migrations/backfillMuscleGroups.ts
  convex/schema.ts
  docs/adr/ADR-0001-rate-limits.md
  docs/adr/ADR-0007-action-mutation-exercise-creation.md
  docs/adr/ADR-0008-openrouter-model-portfolio.md
  docs/state-diagrams/ai-report-generation.md
  scripts/generate-releases.ts
  scripts/verify-env.sh
  src/app/(marketing)/privacy/page.tsx
  src/app/api/coach/route.ts
Due: format, lint, typecheck, convex-warning

refactor: modularize coach agent runtime
  docs/coach-agent-architecture.md
  src/app/api/coach/route.ts
  src/components/coach/CoachBlockRenderer.tsx
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-tools.ts
  src/lib/coach/server/blocks.ts
  src/lib/coach/server/fallback.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/runtime.ts
  src/lib/coach/server/sse.ts
  src/lib/coach/sse-client.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/definitions.ts
  src/lib/coach/tools/execute.ts
  src/lib/coach/tools/helpers.ts
  src/lib/coach/tools/schemas.ts
  src/lib/coach/tools/tool-exercise-report.ts
  src/lib/coach/tools/tool-focus-suggestions.ts
  src/lib/coach/tools/tool-log-set.ts
  src/lib/coach/tools/tool-set-sound.ts
  src/lib/coach/tools/tool-set-weight-unit.ts
  src/lib/coach/tools/tool-today-summary.ts
  src/lib/coach/tools/types.ts
Due: format, lint, typecheck

fix: address coach correctness issues
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.ts
  src/lib/coach/prototype-analytics.ts
  src/lib/coach/sse-client.ts
  src/lib/coach/tools/data.ts
Due: format, lint, typecheck

fix: avoid mutating coach history
  src/lib/coach/server/planner.ts
  src/lib/coach/tools/definitions.ts
Due: format, lint, typecheck

fix(coach): add rate limiting and timeouts
  convex/_generated/api.d.ts
  convex/coach.ts
  convex/lib/rateLimit.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck, convex-warning

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
