Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

.lefthook.yml:

# Lefthook Quality Gates Configuration
# Simple interface, powerful implementation

# Fast, iterative quality checks (sub-second)
pre-commit:
  parallel: true
  commands:
    # === Security Scanning (Critical) ===
    security-scan:
      run: trufflehog git file://. --only-verified --fail --no-update
      fail_text: "❌ Secrets detected! Remove before committing."

    # === Code Formatting (Auto-fixable) ===
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      fail_text: "Formatting issues auto-fixed. Review and re-commit."

    # === Code Quality (Auto-fixable) ===
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: "Linting issues auto-fixed. Review and re-commit."

    # === Type Safety (Fast Incremental) ===
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript errors found. Fix before committing."

    # === Configuration Validation ===
    validate-config:
      run: npx tsx scripts/validate-lefthook-config.ts
      fail_text: "❌ Configuration validation failed. Fix issues before committing."

    # === Convex Integration (Project-specific) ===
    convex-warning:
      glob: "convex/**/*.ts"
      run: |
        echo ""
        echo "⚠️  Convex function changes detected"
        echo "   Ensure you've tested with: pnpm dev"
        echo "   (runs both Next.js AND Convex)"
        echo ""
      interactive: false

# Commit message standards
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}
      fail_text: "❌ Commit message doesn't follow conventional commit standard."

# Comprehensive quality gates (full verification)
pre-push:
  parallel: true
  commands:
    # === Test Suite (Correctness) ===
    test-suite:
      run: "NODE_ENV=test CI=true pnpm test:coverage"
      fail_text: "❌ Test suite failed. Run 'pnpm test' for details."

    # === Build Verification (Integration) ===
    build-check:
      run: pnpm build
      fail_text: "❌ Build failed. Fix build errors before pushing."

    # === Security Audit (Vulnerabilities) ===
    security-audit:
      run: pnpm audit --audit-level=high
      fail_text: "❌ Security vulnerabilities found. Run 'pnpm audit' for details."

    # === Bundle Analysis (Performance) ===
    bundle-analysis:
      run: pnpm analyze
      fail_text: "❌ Bundle analysis failed. Review bundle size changes."
      only:
        - ref: master

# Post-checkout Convex type regeneration
post-checkout:
  commands:
    convex-types:
      run: |
        echo ""
        echo "⚠️  Convex functions changed between branches"
        echo "   Run: pnpm dev (or pnpm dev:convex)"
        echo "   to sync types and deployment"
        echo ""
      glob: "convex/**/*"

fix: restore coach e2e runtime in ci
  .github/workflows/e2e.yml
  e2e/README.md
  e2e/coach-helpers.ts
  playwright.config.ts
Due: format, lint, typecheck

test: stabilize e2e specs for current app flows
  e2e/coach-flows.spec.ts
  e2e/smoke.spec.ts
  e2e/subscription-flow.spec.ts
Due: format, lint, typecheck

fix: harden coach e2e helpers
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

chore: align trufflehog checkout action
  .github/workflows/trufflehog.yml
Due: format

test: use stable coach workspace entry
  e2e/coach-flows.spec.ts
Due: format, lint, typecheck

test: address e2e review findings
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/coach-helpers.ts
  e2e/subscription-flow.spec.ts
  playwright.config.ts
  src/app/pricing/page.test.tsx
  src/app/pricing/page.tsx
Due: format, lint, typecheck

fix: stabilize coach e2e actions
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

test: remove stateful pricing redirect e2e
  e2e/subscription-flow.spec.ts
Due: format, lint, typecheck

test: reduce flaky coach e2e assumptions
  e2e/coach-helpers.ts
Due: format, lint, typecheck

test: address follow-up review comments
  e2e/coach-helpers.ts
  e2e/subscription-flow.spec.ts
  src/components/ui/coach-block.tsx
Due: format, lint, typecheck

test: stabilize coach e2e timing paths
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

test: cover remaining review paths
  e2e/coach-flows.spec.ts
  e2e/subscription-flow.spec.ts
  src/app/pricing/page.test.tsx
Due: format, lint, typecheck

test: isolate pricing page test target
  src/app/pricing/PricingContent.tsx
  src/app/pricing/page.test.tsx
  src/app/pricing/page.tsx
Due: format, lint, typecheck

test: harden coach e2e exercise prompts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

[codex] Rework coach-first E2E suite (#419)
  .github/workflows/e2e.yml
  .lefthook.yml
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/auth.setup.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
  e2e/env.ts
  e2e/error-scenarios.spec.ts
  e2e/subscription-flow.spec.ts
  package.json
  playwright.config.ts
  src/app/pricing/PricingContent.tsx
  src/app/pricing/page.test.tsx
  src/app/pricing/page.tsx
  src/components/ui/coach-block.tsx
  src/test/e2e-env.test.ts
Due: format, lint, typecheck

refactor: consolidate coach tool registry
  docs/coach-agent-architecture.md
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/tools/execute.test.ts
  src/lib/coach/tools/execute.ts
  src/lib/coach/tools/registry.ts
  walkthrough/coach-tool-registry.md
Due: format, lint, typecheck

fix: pass reset secret to playwright web server
  playwright.config.ts
Due: format, lint, typecheck

fix: harden local coach tool execution
  src/lib/coach/tools/execute.test.ts
  src/lib/coach/tools/execute.ts
  walkthrough/coach-tool-registry.md
Due: format, lint, typecheck

fix: remove convex reset secret drift
  convex/test/resetUserData.ts
  e2e/README.md
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
Due: format, lint, typecheck, convex-warning

fix: separate coach tool validation from execution
  src/lib/coach/tools/execute.test.ts
  src/lib/coach/tools/execute.ts
Due: format, lint, typecheck

test: cover unsupported coach tool errors
  src/lib/coach/tools/execute.test.ts
Due: format, lint, typecheck

fix: reset e2e data through public convex apis
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
Due: format, lint, typecheck

fix: unblock e2e runtime and reset flow
  .github/workflows/e2e.yml
  convex/test/resetUserData.ts
  e2e/README.md
  e2e/env.ts
  e2e/smoke.spec.ts
  playwright.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/test/e2e-env.test.ts
Due: format, lint, typecheck, convex-warning

fix: resolve remaining e2e regressions
  convex/test/resetUserData.ts
  e2e/smoke.spec.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
Due: format, lint, typecheck, convex-warning

fix: close reset review gaps
  e2e/README.md
  src/app/api/test/reset/route.test.ts
Due: format, lint, typecheck

test: fix undo e2e synchronization
  e2e/coach-helpers.ts
Due: format, lint, typecheck

refactor: consolidate coach tool registry (#420)
  .github/workflows/e2e.yml
  docs/coach-agent-architecture.md
  e2e/README.md
  e2e/coach-helpers.ts
  e2e/env.ts
  e2e/smoke.spec.ts
  playwright.config.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/lib/coach/server/coach-tools.test.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/tools/execute.test.ts
  src/lib/coach/tools/execute.ts
  src/lib/coach/tools/registry.ts
  src/test/e2e-env.test.ts
  walkthrough/coach-tool-registry.md
Due: format, lint, typecheck

fix: polish paywall bootstrap recovery
  INCIDENT-20260311T201508Z.md
  e2e/subscription-flow.spec.ts
  src/components/subscription/paywall-gate.test.tsx
  src/components/subscription/paywall-gate.tsx
Due: format, lint, typecheck

fix: harden paywall bootstrap on mobile
  INCIDENT-20260311T201508Z.md
  docs/state-diagrams/paywall-gate.md
  e2e/subscription-flow.spec.ts
  src/components/subscription/paywall-gate.test.tsx
  src/components/subscription/paywall-gate.tsx
  src/lib/analytics.ts
  walkthrough/reviewer-evidence.md
Due: format, lint, typecheck

fix: close paywall review findings
  e2e/subscription-flow.spec.ts
  src/components/subscription/paywall-gate.test.tsx
  src/components/subscription/paywall-gate.tsx
Due: format, lint, typecheck

fix: scope e2e entity action rows correctly
  e2e/coach-helpers.ts
Due: format, lint, typecheck

test: harden authenticated e2e flows
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/auth.setup.ts
  e2e/clerk-helpers.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/convex-helpers.ts
  e2e/critical-flow.spec.ts
  e2e/error-scenarios.spec.ts
  e2e/smoke.spec.ts
  e2e/subscription-flow.spec.ts
Due: format, lint, typecheck

fix: canonicalize openrouter runtime policy
  convex/lib/openrouter.test.ts
  convex/lib/openrouter.ts
  docs/adr/ADR-0008-openrouter-model-portfolio.md
  docs/coach-agent-architecture.md
  scripts/generate-releases.ts
  scripts/verify-env.sh
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/coach/server/runtime.ts
  src/lib/openrouter/policy.ts
  walkthrough/codex-canonicalize-openrouter-policy/health-response.json
  walkthrough/codex-canonicalize-openrouter-policy/reviewer-evidence.md
  walkthrough/codex-canonicalize-openrouter-policy/verification.txt
Due: format, lint, typecheck, convex-warning

fix: harden openrouter policy verification
  scripts/print-openrouter-policy.ts
  scripts/verify-env.sh
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/lib/openrouter/policy.ts
  walkthrough/codex-canonicalize-openrouter-policy/health-response.json
  walkthrough/codex-canonicalize-openrouter-policy/reviewer-evidence.md
  walkthrough/codex-canonicalize-openrouter-policy/verification.txt
Due: format, lint, typecheck

docs: record retro for issue 339
  .groom/retro.md
Due: format

Fix mobile paywall bootstrap spinner (#421)
  INCIDENT-20260311T201508Z.md
  docs/state-diagrams/paywall-gate.md
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/auth.setup.ts
  e2e/clerk-helpers.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/convex-helpers.ts
  e2e/critical-flow.spec.ts
  e2e/error-scenarios.spec.ts
  e2e/smoke.spec.ts
  e2e/subscription-flow.spec.ts
  src/components/subscription/paywall-gate.test.tsx
  src/components/subscription/paywall-gate.tsx
  src/lib/analytics.ts
  walkthrough/reviewer-evidence.md
Due: format, lint, typecheck

fix: address openrouter policy review feedback
  convex/lib/openrouter.test.ts
  scripts/generate-releases.ts
  scripts/print-openrouter-policy.ts
  scripts/verify-env.sh
  src/app/api/health/route.test.ts
  src/lib/coach/server/runtime.ts
  walkthrough/codex-canonicalize-openrouter-policy/verification.txt
Due: format, lint, typecheck, convex-warning

fix: stabilize coach e2e action flows
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck

fix: relax coach runtime health check
  scripts/verify-env.sh
Due: none

fix: stabilize e2e ci checks
  .github/workflows/cerberus.yml
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
Due: format, lint, typecheck
