Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

fix(ai): handle OpenAI SDK browser environment error in tests (#291)
  convex/lib/openrouter.ts
Due: format, lint, typecheck, convex-warning

fix(stripe): make admin functions internal-only (#294)
  convex/stripe.ts
Due: format, lint, typecheck

feat(observability): add PostHog analytics and structured logging
  .env.example
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/analytics-wrapper.tsx
  src/components/posthog-provider.tsx
  src/lib/analytics.test.ts
  src/lib/analytics.ts
  src/lib/logger.ts
Due: format, lint, typecheck

refactor: extract shared PII sanitization module
  src/components/posthog-provider.tsx
  src/lib/analytics.ts
  src/lib/logger.ts
  src/lib/sanitize.ts
Due: format, lint, typecheck

docs: fix broken BACKLOG.md link and add missing Stripe env vars
  .env.example
  CLAUDE.md
Due: format

fix: address PR review feedback
  src/components/posthog-provider.tsx
  src/lib/logger.ts
Due: format, lint, typecheck

fix: address additional PR review feedback
  src/lib/analytics.ts
  src/lib/logger.ts
Due: format, lint, typecheck

feat(observability): add PostHog analytics and structured logging (#296)
  .env.example
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/analytics-wrapper.tsx
  src/components/posthog-provider.tsx
  src/lib/analytics.test.ts
  src/lib/analytics.ts
  src/lib/logger.ts
  src/lib/sanitize.ts
Due: format, lint, typecheck

refactor(hooks): extract platform APIs from useQuickLogForm (#286)
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/quick-log-form.tsx
  src/hooks/README.md
  src/hooks/useQuickLogForm.test.ts
  src/hooks/useQuickLogForm.ts
Due: format, lint, typecheck

refactor: extract magic numbers to named constants
  src/components/dashboard/Dashboard.tsx
Due: format, lint, typecheck

refactor(hooks): extract platform APIs from useQuickLogForm (#297)
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/quick-log-form.tsx
  src/hooks/README.md
  src/hooks/useQuickLogForm.test.ts
  src/hooks/useQuickLogForm.ts
Due: format, lint, typecheck

refactor(dashboard): extract platform-agnostic architecture (#287)
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardDesktop.tsx
  src/components/dashboard/DashboardMobile.tsx
  src/hooks/useDashboard.ts
Due: format, lint, typecheck

refactor: simplify Dashboard implementation
  src/components/dashboard/Dashboard.tsx
  src/hooks/useDashboard.ts
Due: format, lint, typecheck

refactor: remove unused exercisesByRecency from interface
  src/hooks/useDashboard.ts
Due: format, lint, typecheck

docs: update architecture map with Dashboard platform split
  CLAUDE.md
Due: format

[P0] Refactor Dashboard for platform-agnostic architecture (#300)
  CLAUDE.md
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardDesktop.tsx
  src/components/dashboard/DashboardMobile.tsx
  src/hooks/useDashboard.ts
Due: format, lint, typecheck

feat(core): scaffold packages/core workspace for shared business logic (#285)
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  packages/core/node_modules/.bin/tsc
  packages/core/node_modules/.bin/tsserver
  packages/core/node_modules/date-fns
  packages/core/node_modules/typescript
  packages/core/package.json
  packages/core/src/date-calc.ts
  packages/core/src/index.ts
  packages/core/src/muscle-groups.ts
  packages/core/src/pr-detection.ts
  packages/core/src/streak.ts
  packages/core/src/types.ts
  packages/core/src/validation.ts
  packages/core/src/weight-conversion.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: format, lint, typecheck

feat(core): extract PR detection to shared package (#285)
  convex/README.md
  convex/analytics.ts
  convex/lib/pr_detection.ts
  packages/core/src/index.ts
  packages/core/src/pr-detection.ts
  src/components/analytics/pr-card.tsx
  src/lib/pr-detection.ts
Due: format, lint, typecheck, convex-warning

feat(core): consolidate streak calculation (3 copies → 1) (#285)
  convex/README.md
  convex/ai/dateUtils.ts
  convex/analytics.ts
  convex/lib/streak_calculator.ts
  packages/core/src/index.ts
  packages/core/src/streak.ts
  src/lib/streak-calculator.ts
Due: format, lint, typecheck, convex-warning

feat(core): extract date calculation utilities (#285)
  convex/ai/dateUtils.ts
  packages/core/src/date-calc.ts
  packages/core/src/index.ts
Due: format, lint, typecheck, convex-warning

feat(core): extract portable validation logic (#285)
  convex/lib/validate.ts
  packages/core/src/index.ts
  packages/core/src/validation.ts
Due: format, lint, typecheck, convex-warning

feat(core): extract muscle groups and weight conversion (#285)
  convex/lib/muscleGroups.ts
  packages/core/src/index.ts
  packages/core/src/muscle-groups.ts
  packages/core/src/weight-conversion.ts
  src/lib/weight-utils.ts
Due: format, lint, typecheck, convex-warning

refactor: consolidate muscle group definitions (#285)
  convex/analytics.ts
  convex/analyticsRecovery.ts
Due: format, lint, typecheck

chore: include packages/core in coverage, adjust threshold (#285)
  vitest.config.ts
Due: format, lint, typecheck

fix(core): standardize on UTC timezone, add esbuild docs (#285)
  convex/ai/dateUtils.ts
  convex/analytics.ts
  convex/lib/validate.ts
  packages/core/src/muscle-groups.ts
  packages/core/src/streak.ts
  src/lib/streak-calculator.test.ts
Due: format, lint, typecheck, convex-warning

fix(review): address PR feedback from automated reviewers (#285)
  .gitignore
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  convex/ai/dateUtils.test.ts
  packages/core/node_modules/.bin/tsc
  packages/core/node_modules/.bin/tsserver
  packages/core/node_modules/date-fns
  packages/core/node_modules/typescript
  packages/core/src/date-calc.ts
  packages/core/src/pr-detection.ts
  packages/core/src/validation.ts
  src/lib/coverage-verifier.test.ts
  src/lib/coverage-verifier.ts
Due: format, lint, typecheck, convex-warning

fix(date-calc): atomic Date.UTC to prevent month rollover bug (#285)
  convex/ai/dateUtils.test.ts
  packages/core/src/date-calc.ts
Due: format, lint, typecheck, convex-warning

chore(releases): generate missing release content v1.6.1-v1.7.0
  content/releases/manifest.json
  content/releases/v1.6.1/changelog.json
  content/releases/v1.6.1/notes.md
  content/releases/v1.6.2/changelog.json
  content/releases/v1.6.2/notes.md
  content/releases/v1.7.0/changelog.json
  content/releases/v1.7.0/notes.md
Due: format

fix(config): exclude convex/_generated from lint hook
  .lefthook.yml
  convex/_generated/api.d.ts
Due: format, lint, typecheck, convex-warning

fix(deps): update next.js to 16.1.6 (security)
  package.json
  pnpm-lock.yaml
Due: format

fix: make lefthook install graceful for non-git envs (Vercel)
  package.json
Due: format

feat: add Open Graph and Twitter Card metadata
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/twitter-image.tsx
Due: format, lint, typecheck

fix: address PR review feedback for OG metadata
  src/app/layout.tsx
  src/app/opengraph-image.tsx
Due: format, lint, typecheck

fix: add error handling and parallel fetch for OG image fonts
  src/app/opengraph-image.tsx
Due: format, lint, typecheck

feat: add Open Graph and Twitter Card metadata (#307)
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/twitter-image.tsx
Due: format, lint, typecheck

feat(schema): add user preferences for AI coaching (#282)
  convex/schema.ts
  convex/users.ts
  src/lib/goals.ts
Due: format, lint, typecheck

feat(settings): add Goals & Coaching settings UI (#282)
  src/app/(app)/settings/page.tsx
  src/components/settings/coach-notes-form.tsx
  src/components/settings/goals-form.tsx
  src/components/ui/textarea.tsx
Due: format, lint, typecheck

feat(ai): inject user preferences into AI report prompts (#282)
  convex/ai/data.ts
  convex/ai/generate.ts
  convex/ai/openai.ts
  convex/ai/prompts.ts
Due: format, lint, typecheck, convex-warning

feat(dashboard): add profile completion nudge banner (#282)
  convex/users.ts
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/profile-nudge-banner.tsx
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
