Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

.lefthook.yml:

# Lefthook Quality Gates Configuration
# Simple interface, powerful implementation

# Fast, iterative quality checks (sub-second)
pre-commit:
  parallel: true
  commands:
    # === Security Scanning (Critical) ===
    security-scan:
      run: trufflehog git file://. --only-verified --fail --no-update
      fail_text: "❌ Secrets detected! Remove before committing."

    # === Code Formatting (Auto-fixable) ===
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      fail_text: "Formatting issues auto-fixed. Review and re-commit."

    # === Code Quality (Auto-fixable) ===
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: "Linting issues auto-fixed. Review and re-commit."

    # === Type Safety (Fast Incremental) ===
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript errors found. Fix before committing."

    # === Configuration Validation ===
    validate-config:
      run: npx tsx scripts/validate-lefthook-config.ts
      fail_text: "❌ Configuration validation failed. Fix issues before committing."

    # === Convex Integration (Project-specific) ===
    convex-warning:
      glob: "convex/**/*.ts"
      run: |
        echo ""
        echo "⚠️  Convex function changes detected"
        echo "   Ensure you've tested with: pnpm dev"
        echo "   (runs both Next.js AND Convex)"
        echo ""
      interactive: false

# Commit message standards
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}
      fail_text: "❌ Commit message doesn't follow conventional commit standard."

# Comprehensive quality gates (full verification)
pre-push:
  parallel: true
  commands:
    # === Test Suite (Correctness) ===
    test-suite:
      run: "NODE_ENV=test CI=true pnpm test:coverage"
      fail_text: "❌ Test suite failed. Run 'pnpm test' for details."

    # === Build Verification (Integration) ===
    build-check:
      run: pnpm build
      fail_text: "❌ Build failed. Fix build errors before pushing."

    # === Security Audit (Vulnerabilities) ===
    security-audit:
      run: pnpm audit --audit-level=high
      fail_text: "❌ Security vulnerabilities found. Run 'pnpm audit' for details."

    # === Bundle Analysis (Performance) ===
    bundle-analysis:
      run: pnpm analyze
      fail_text: "❌ Bundle analysis failed. Review bundle size changes."
      only:
        - ref: master

# Post-checkout Convex type regeneration
post-checkout:
  commands:
    convex-types:
      run: |
        echo ""
        echo "⚠️  Convex functions changed between branches"
        echo "   Run: pnpm dev (or pnpm dev:convex)"
        echo "   to sync types and deployment"
        echo ""
      glob: "convex/**/*"

fix: preserve squash-mergeable pr heads
  .github/workflows/ci.yml
  README.md
  e2e/README.md
  e2e/auth-fixture.ts
  e2e/coach-flows.spec.ts
  e2e/critical-flow.spec.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/test/reset/route.test.ts
  src/app/api/test/reset/route.ts
  src/lib/e2e/test-session.ts
Due: format, lint, typecheck

fix: harden hosted build boundaries
  src/app/ConvexClientProvider.tsx
  src/app/api/stripe/checkout/route.test.ts
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.test.ts
  src/app/api/stripe/portal/route.ts
  src/app/layout.tsx
  src/lib/public-service-config.test.ts
  src/lib/public-service-config.ts
  src/lib/stripe/config.test.ts
  src/lib/stripe/config.ts
Due: format, lint, typecheck

fix: decouple e2e auth setup from workspace boot
  e2e/auth.setup.ts
Due: format, lint, typecheck

chore: sync lefthook hook shims
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

chore: groom 2026-03-14 — targeted restructuring direction
  .groom/BACKLOG.md
  .groom/plan-2026-03-14.md
  project.md
Due: format

chore: groom 2026-03-14 — targeted restructuring direction (#428)
  .groom/BACKLOG.md
  .groom/plan-2026-03-14.md
  project.md
Due: format

feat: add coachSessions and coachMessages tables to schema
  convex/_generated/api.d.ts
  convex/schema.ts
Due: format, lint, typecheck, convex-warning

feat: add coachSessions CRUD with auth and day-boundary logic
  convex/coachSessions.test.ts
  convex/coachSessions.ts
Due: format, lint, typecheck

feat: persist coach turns and inject conversation summary
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/schema.test.ts
  src/lib/coach/schema.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck

feat: hydrate coach conversation from Convex on mount
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
Due: format, lint, typecheck

fix: harden conversation persistence from code review
  convex/coachSessions.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.ts
Due: format, lint, typecheck

fix: harden client runtime env boundaries
  .github/DEPLOYMENT_CHECKLIST.md
  CLAUDE.md
  INCIDENT-20260314T170559Z.md
  eslint.config.mjs
  scripts/verify-env.sh
  src/app/ConvexClientProvider.tsx
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/app/layout.tsx
  src/lib/public-service-config.client.test.ts
  src/lib/public-service-config.client.ts
  src/lib/public-service-config.server.test.ts
  src/lib/public-service-config.server.ts
  src/lib/public-service-config.shared.ts
  src/lib/public-service-config.ts
  src/lib/sentry.test.ts
  src/lib/sentry.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix: keep local production builds working
  src/lib/public-service-config.server.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix: tighten env boundary guardrails
  CLAUDE.md
  INCIDENT-20260314T170559Z.md
  eslint.config.mjs
  eslint.config.test.ts
  next.config.ts
  scripts/verify-env.sh
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/lib/public-service-config.client.test.ts
  src/lib/public-service-config.client.ts
  src/lib/public-service-config.server.ts
  src/lib/public-service-config.shared.ts
  src/lib/sentry.test.ts
  src/lib/sentry.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix(ci): split E2E into parallel lanes with fail-fast
  .github/workflows/e2e.yml
  playwright.config.ts
Due: format, lint, typecheck

fix: unblock e2e workflow timeouts
  .github/workflows/e2e.yml
  playwright.config.ts
Due: format, lint, typecheck

fix(ci): serialize authenticated E2E lanes to avoid data races
  .github/workflows/e2e.yml
Due: format

fix(ci): increase coach lane timeout to 12 minutes
  .github/workflows/e2e.yml
Due: format

fix: use direct env access in app runtime
  INCIDENT-20260314T170559Z.md
  eslint.config.mjs
  eslint.config.test.ts
  src/lib/public-service-config.client.ts
  src/lib/public-service-config.server.ts
  src/lib/sentry.ts
  src/lib/stripe/config.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix: reject computed env reads in client rule
  eslint.config.mjs
  eslint.config.test.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix(ci): run flows lane even when coach fails
  .github/workflows/e2e.yml
Due: format

fix(ci): add trace upload to smoke lane, bump timeout to 5m
  .github/workflows/e2e.yml
Due: format

Harden client runtime env boundaries and observability checks (#430)
  .github/DEPLOYMENT_CHECKLIST.md
  .github/workflows/e2e.yml
  CLAUDE.md
  INCIDENT-20260314T170559Z.md
  eslint.config.mjs
  eslint.config.test.ts
  next.config.ts
  playwright.config.ts
  scripts/verify-env.sh
  src/app/ConvexClientProvider.tsx
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/app/layout.tsx
  src/lib/public-service-config.client.test.ts
  src/lib/public-service-config.client.ts
  src/lib/public-service-config.server.test.ts
  src/lib/public-service-config.server.ts
  src/lib/public-service-config.shared.ts
  src/lib/public-service-config.test.ts
  src/lib/public-service-config.ts
  src/lib/sentry.test.ts
  src/lib/sentry.ts
  src/lib/stripe/config.ts
  walkthrough/cx-auth-bootstrap-guardrails/verification.md
Due: format, lint, typecheck

fix(ci): guard flows preflight check, bump timeout to 8m
  .github/workflows/e2e.yml
Due: format

fix(e2e): align waitForCoachIdle timeout with server turn timeout
  e2e/coach-helpers.ts
Due: format, lint, typecheck

fix(ci): split E2E into parallel lanes with fail-fast (#431)
  .github/workflows/e2e.yml
  e2e/coach-helpers.ts
  playwright.config.ts
Due: format, lint, typecheck

fix: regenerate lockfile after rebase onto master
  bun.lock
Due: none

fix: harden coach session persistence and resolve review findings
  convex/coachSessions.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/schema.ts
Due: format, lint, typecheck

feat: persist coach conversations server-side in Convex (#429)
  convex/_generated/api.d.ts
  convex/coachSessions.test.ts
  convex/coachSessions.ts
  convex/schema.ts
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/schema.test.ts
  src/lib/coach/schema.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/turn-runner.test.ts
  src/lib/coach/server/turn-runner.ts
Due: format, lint, typecheck, convex-warning

chore: ignore lefthook install artifacts and Claude worktrees
  .gitignore
Due: none

chore: ignore lefthook install artifacts and Claude worktrees (#434)
  .gitignore
Due: none

feat: add close-match disambiguation to exercise resolution
  src/lib/coach/tools/data.test.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/helpers.ts
  src/lib/coach/tools/tool-exercise-report.test.ts
  src/lib/coach/tools/tool-exercise-report.ts
Due: format, lint, typecheck

feat: propagate close matches to all exercise tool error paths
  src/lib/coach/tools/tool-delete-set.test.ts
  src/lib/coach/tools/tool-delete-set.ts
  src/lib/coach/tools/tool-exercise-history.test.ts
  src/lib/coach/tools/tool-exercise-history.ts
  src/lib/coach/tools/tool-manage-exercise.test.ts
  src/lib/coach/tools/tool-manage-exercise.ts
Due: format, lint, typecheck

fix: strengthen coach routing guidance and disambiguation prompt
  src/app/api/coach/route.ts
  src/lib/coach/agent-prompt.ts
Due: format, lint, typecheck

fix: address review feedback on disambiguation
  src/lib/coach/tools/data.test.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/tool-delete-set.test.ts
  src/lib/coach/tools/tool-exercise-history.test.ts
  src/lib/coach/tools/tool-exercise-report.test.ts
  src/lib/coach/tools/tool-exercise-report.ts
  src/lib/coach/tools/tool-manage-exercise.test.ts
  src/lib/coach/tools/tool-manage-exercise.ts
Due: format, lint, typecheck

fix: add minimum length guard to close match substring check
  src/lib/coach/tools/data.test.ts
  src/lib/coach/tools/data.ts
Due: format, lint, typecheck

fix: route coach requests cleanly and disambiguate exercises (#435)
  src/app/api/coach/route.ts
  src/lib/coach/agent-prompt.ts
  src/lib/coach/tools/data.test.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/helpers.ts
  src/lib/coach/tools/tool-delete-set.test.ts
  src/lib/coach/tools/tool-delete-set.ts
  src/lib/coach/tools/tool-exercise-history.test.ts
  src/lib/coach/tools/tool-exercise-history.ts
  src/lib/coach/tools/tool-exercise-report.test.ts
  src/lib/coach/tools/tool-exercise-report.ts
  src/lib/coach/tools/tool-manage-exercise.test.ts
  src/lib/coach/tools/tool-manage-exercise.ts
Due: format, lint, typecheck

docs: add coach tool pitfalls for error blocks and disambiguation
  CLAUDE.md
Due: format

fix: make today's coach summary accurate after every log (#411)
  src/hooks/useQuickLogForm.ts
  src/lib/analytics.ts
  src/lib/coach/prototype-analytics.test.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/tool-bulk-log.test.ts
  src/lib/coach/tools/tool-bulk-log.ts
  src/lib/coach/tools/tool-log-set.test.ts
  src/lib/coach/tools/tool-log-set.ts
  src/lib/coach/tools/tool-today-summary.test.ts
  src/lib/coach/tools/tool-today-summary.ts
Due: format, lint, typecheck
