Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

.lefthook.yml:

# Lefthook Quality Gates Configuration
# Simple interface, powerful implementation

# Fast, iterative quality checks (sub-second)
pre-commit:
  parallel: true
  commands:
    # === Security Scanning (Critical) ===
    security-scan:
      run: trufflehog git file://. --only-verified --fail --no-update
      fail_text: "❌ Secrets detected! Remove before committing."

    # === Code Formatting (Auto-fixable) ===
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      fail_text: "Formatting issues auto-fixed. Review and re-commit."

    # === Code Quality (Auto-fixable) ===
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: "Linting issues auto-fixed. Review and re-commit."

    # === Type Safety (Fast Incremental) ===
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript errors found. Fix before committing."

    # === Configuration Validation ===
    validate-config:
      run: npx tsx scripts/validate-lefthook-config.ts
      fail_text: "❌ Configuration validation failed. Fix issues before committing."

    # === Convex Integration (Project-specific) ===
    convex-warning:
      glob: "convex/**/*.ts"
      run: |
        echo ""
        echo "⚠️  Convex function changes detected"
        echo "   Ensure you've tested with: pnpm dev"
        echo "   (runs both Next.js AND Convex)"
        echo ""
      interactive: false

# Commit message standards
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}
      fail_text: "❌ Commit message doesn't follow conventional commit standard."

# Comprehensive quality gates (full verification)
pre-push:
  parallel: true
  commands:
    # === Test Suite (Correctness) ===
    test-suite:
      run: "NODE_ENV=test CI=true pnpm test:coverage"
      fail_text: "❌ Test suite failed. Run 'pnpm test' for details."

    # === Build Verification (Integration) ===
    build-check:
      run: pnpm build
      fail_text: "❌ Build failed. Fix build errors before pushing."

    # === Security Audit (Vulnerabilities) ===
    security-audit:
      run: pnpm audit --audit-level=high
      fail_text: "❌ Security vulnerabilities found. Run 'pnpm audit' for details."

    # === Bundle Analysis (Performance) ===
    bundle-analysis:
      run: pnpm analyze
      fail_text: "❌ Bundle analysis failed. Review bundle size changes."
      only:
        - ref: master

# Post-checkout Convex type regeneration
post-checkout:
  commands:
    convex-types:
      run: |
        echo ""
        echo "⚠️  Convex functions changed between branches"
        echo "   Run: pnpm dev (or pnpm dev:convex)"
        echo "   to sync types and deployment"
        echo ""
      glob: "convex/**/*"

chore: claim backlog item 003
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
Due: format

chore: mark architecture boundaries item in progress
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
Due: format

chore: add architecture verification gates
  .github/workflows/ci.yml
  .groom/review-scores.ndjson
  .lefthook.yml
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  eslint.config.mjs
  eslint.config.test.ts
  package.json
  scripts/verify-architecture.ts
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
  src/lib/architecture-policy.ts
  src/lib/ci-workflow.test.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

feat: enforce architecture boundaries and complexity
  .github/workflows/ci.yml
  .lefthook.yml
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  bun.lock
  eslint.config.mjs
  package.json
  scripts/check-circular-deps.test.ts
  scripts/check-circular-deps.ts
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/components/dashboard/pr-celebration.tsx
  src/components/subscription/paywall-gate.test.tsx
  src/components/subscription/paywall-gate.tsx
  src/hooks/useQuickLogForm.test.ts
  src/hooks/useQuickLogForm.ts
  src/lib/architecture-boundaries.test.ts
  src/lib/coach/tools/tool-settings-overview.test.ts
  src/lib/coach/tools/tool-settings-overview.ts
  src/lib/complexity-lint.test.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  src/lib/pr-celebration.ts
Due: format, lint, typecheck

chore: add architecture verification gates (#464)
  .github/workflows/ci.yml
  .lefthook.yml
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  eslint.config.mjs
  eslint.config.test.ts
  package.json
  scripts/verify-architecture.ts
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
  src/lib/ci-workflow.test.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

chore: settle architecture review feedback
  eslint.config.test.ts
  scripts/verify-architecture.ts
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
  src/lib/architecture-policy.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

test: cover missing architecture script validation
  src/lib/lefthook-validator.test.ts
Due: format, lint, typecheck

fix: fall back on tsconfig parse errors
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
Due: format, lint, typecheck

feat(coach): add model fallback chain for resilient coach responses
  convex/lib/openrouter.test.ts
  docs/adr/ADR-0008-openrouter-model-portfolio.md
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/app/api/health/route.test.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/coach/server/runtime.ts
  src/lib/openrouter/policy.ts
Due: format, lint, typecheck, convex-warning

fix(coach): swap to Gemini 3 Flash primary, drop Qwen 3.5 Flash
  convex/lib/openrouter.test.ts
  src/app/api/health/route.test.ts
  src/lib/coach/server/runtime.test.ts
  src/lib/openrouter/policy.ts
Due: format, lint, typecheck, convex-warning

fix(coach): preserve original error cause for Canary diagnostics
  src/app/api/coach/route.test.ts
  src/app/api/coach/route.ts
  src/lib/coach/server/planner.ts
Due: format, lint, typecheck

fix: harden runtime observability paths (#472)
  .groom/review-scores.ndjson
  .lefthook.yml
  backlog.d/005-harden-runtime-observability-paths.md
  convex/lib/openrouter.ts
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/package.json
  dagger/src/index.ts
  dagger/tsconfig.json
  dagger/yarn.lock
  eslint.config.mjs
  src/app/api/coach/route.ts
  src/app/api/stripe/checkout/route.test.ts
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.test.ts
  src/app/api/stripe/portal/route.ts
  src/lib/analytics.ts
  src/lib/coach/server/turn-runner.ts
  src/lib/coach/tools/data.ts
  tsconfig.json
Due: format, lint, typecheck, convex-warning

fix: harden runtime observability paths (#472) (#472)
  .groom/review-scores.ndjson
  .lefthook.yml
  backlog.d/005-harden-runtime-observability-paths.md
  convex/lib/openrouter.ts
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/package.json
  dagger/src/index.ts
  dagger/tsconfig.json
  dagger/yarn.lock
  eslint.config.mjs
  src/app/api/coach/route.ts
  src/app/api/stripe/checkout/route.test.ts
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.test.ts
  src/app/api/stripe/portal/route.ts
  src/lib/analytics.ts
  src/lib/coach/server/turn-runner.ts
  src/lib/coach/tools/data.ts
  tsconfig.json
Due: format, lint, typecheck, convex-warning

docs: add Dagger CI and structured logging patterns to CLAUDE.md
  CLAUDE.md
Due: format

chore: mark backlog item 006 in progress
  backlog.d/006-complete-clone-to-run-bootstrap.md
Due: format

chore: harden clone-to-run bootstrap
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backlog.d/006-complete-clone-to-run-bootstrap.md
  package.json
  scripts/setup.sh
  src/lib/setup-script.test.ts
Due: format, lint, typecheck

chore: harden clone-to-run bootstrap (#473)
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backlog.d/006-complete-clone-to-run-bootstrap.md
  package.json
  scripts/setup.sh
  src/lib/setup-script.test.ts
Due: format, lint, typecheck

docs: sync governance branch policy
  CONTRIBUTING.md
  README.md
  backlog.d/007-tighten-governance-baselines.md
Due: format

docs: prefer git-first governance
  CONTRIBUTING.md
  README.md
  backlog.d/007-tighten-governance-baselines.md
Due: format

fix: address architecture review feedback
  eslint.config.mjs
  src/app/api/health/route.ts
  src/lib/architecture-boundaries.test.ts
  src/lib/coach/tools/tool-settings-overview.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

chore: add architecture verification gates (#465)
  .groom/review-scores.ndjson
  backlog.d/003-enforce-architecture-boundaries-and-complexity.md
  eslint.config.test.ts
  scripts/verify-architecture.ts
  src/lib/architecture-checker.test.ts
  src/lib/architecture-checker.ts
  src/lib/architecture-policy.ts
  src/lib/ci-workflow.test.ts
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
Due: format, lint, typecheck

chore: archive completed backlog items
  backlog.d/_done/002-parallelize-and-cache-quality-checks.md
  backlog.d/_done/003-enforce-architecture-boundaries-and-complexity.md
  backlog.d/_done/005-harden-runtime-observability-paths.md
  backlog.d/_done/006-complete-clone-to-run-bootstrap.md
  backlog.d/_done/009-enforce-conventions-for-agent-readiness.md
Due: format

chore: archive completed backlog items (#475)
  backlog.d/_done/002-parallelize-and-cache-quality-checks.md
  backlog.d/_done/003-enforce-architecture-boundaries-and-complexity.md
  backlog.d/_done/005-harden-runtime-observability-paths.md
  backlog.d/_done/006-complete-clone-to-run-bootstrap.md
  backlog.d/_done/009-enforce-conventions-for-agent-readiness.md
Due: format

chore(backlog): file items 010-017 from groom session
  backlog.d/010-evaluate-byok-open-source-api-first-pivot.md
  backlog.d/011-ship-coach-as-default-route.md
  backlog.d/012-consolidate-coach-tools-and-wire-funnel.md
  backlog.d/013-pre-merge-env-parity-gate.md
  backlog.d/014-wire-suggested-action-buttons.md
  backlog.d/015-coach-summary-counting-correctness.md
  backlog.d/016-tighten-coach-render-discipline.md
  backlog.d/017-canonical-quick-views.md
Due: format

chore(test): exclude .agents/** and .claude/** from vitest discovery
  vitest.config.ts
Due: format, lint, typecheck

fix(test): isolate analytics canary-init server test from env leak
  src/lib/analytics.test.ts
Due: format, lint, typecheck

chore(deps): resolve 6 security advisories via overrides + direct bumps
  bun.lock
  package.json
Due: format

refactor(harness): cut spellbook cruft from PR per reviewer consensus
  .agents/skills/research/__tests__/confidence.test.ts
  .agents/skills/research/__tests__/query-utils.test.ts
  .agents/skills/research/cache.ts
  .agents/skills/research/cli.ts
  .agents/skills/research/confidence.ts
  .agents/skills/research/orchestrator.ts
  .agents/skills/research/provider-adapter.ts
  .agents/skills/research/providers.ts
  .agents/skills/research/query-utils.ts
  .agents/skills/settle/SKILL.md
  .agents/skills/settle/references/simplify.md
  AGENTS.md
  vitest.config.ts
Due: format, lint, typecheck

feat(harness): install agent bench, /harness, and /agent-readiness
  .agents/skills/agent-readiness/.spellbook
  .agents/skills/agent-readiness/SKILL.md
  .agents/skills/agent-readiness/references/agent-readiness-principles.md
  .agents/skills/agent-readiness/references/pillar-checks.md
  .agents/skills/harness/.spellbook
  .agents/skills/harness/SKILL.md
  .agents/skills/harness/references/mode-audit.md
  .agents/skills/harness/references/mode-convert.md
  .agents/skills/harness/references/mode-create.md
  .agents/skills/harness/references/mode-engineer.md
  .agents/skills/harness/references/mode-eval.md
  .agents/skills/harness/references/mode-lint.md
  .agents/skills/harness/references/mode-sync.md
  .agents/skills/settle/SKILL.md
  .agents/skills/settle/references/simplify.md
  .claude/agents/a11y-auditor.md
  .claude/agents/a11y-auditor.spellbook
  .claude/agents/a11y-critic.md
  .claude/agents/a11y-critic.spellbook
  .claude/agents/a11y-fixer.md
  .claude/agents/a11y-fixer.spellbook
  .claude/agents/beck.md
  .claude/agents/beck.spellbook
  .claude/agents/builder.md
  .claude/agents/builder.spellbook
  .claude/agents/carmack.md
  .claude/agents/carmack.spellbook
  .claude/agents/critic.md
  .claude/agents/critic.spellbook
  .claude/agents/grug.md
  .claude/agents/grug.spellbook
  .claude/agents/ousterhout.md
  .claude/agents/ousterhout.spellbook
  .claude/agents/planner.md
  .claude/agents/planner.spellbook
Due: format

chore(harness): adopt .spellbook marker system and shared spine
  .agents/skills/a11y/.spellbook
  .agents/skills/ceo-review/.spellbook
  .agents/skills/ci/.spellbook
  .agents/skills/code-review/.spellbook
  .agents/skills/deliver/.spellbook
  .agents/skills/demo/.spellbook
  .agents/skills/deploy/.spellbook
  .agents/skills/deps/.spellbook
  .agents/skills/diagnose/.spellbook
  .agents/skills/flywheel/.spellbook
  .agents/skills/groom/.spellbook
  .agents/skills/implement/.spellbook
  .agents/skills/model-research/.spellbook
  .agents/skills/monitor/.spellbook
  .agents/skills/office-hours/.spellbook
  .agents/skills/qa/.spellbook
  .agents/skills/refactor/.spellbook
  .agents/skills/reflect/.spellbook
  .agents/skills/research/.spellbook
  .agents/skills/settle/.spellbook
  .agents/skills/shape/.spellbook
  .agents/skills/volume-manual-qa/.spellbook
  .agents/skills/yeet/.spellbook
  .codex/config.toml
  .spellbook/repo-brief.md
  AGENTS.md
Due: format

feat(coach): make coach the default post-auth route
  e2e/auth-fixture.ts
  e2e/auth.setup.ts
  e2e/clerk-helpers.ts
  e2e/coach-flows.spec.ts
  e2e/coach-helpers.ts
  e2e/critical-flow.spec.ts
  e2e/error-scenarios.spec.ts
  e2e/subscription-flow.spec.ts
  src/app/(app)/analytics/page.tsx
  src/app/(app)/coach/page.tsx
  src/app/(app)/history/exercise/[exerciseId]/page.tsx
  src/app/(app)/history/page.tsx
  src/app/(app)/settings/page.tsx
  src/app/(app)/today/page.tsx
  src/app/(marketing)/layout.tsx
  src/app/api/coach/route.ts
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.ts
  src/app/pricing/PricingContent.tsx
  src/app/sitemap.ts
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.test.tsx
  src/components/coach/useCoachChat.ts
  src/components/layout/nav.tsx
  src/lib/analytics.test-d.ts
  src/lib/analytics.ts
  src/lib/coach/ui-message.ts
  src/proxy.ts
Due: format, lint, typecheck

refactor(coach): isolate trace and session funnel helpers
  e2e/clerk-helpers.ts
  src/app/api/coach/route.ts
  src/components/coach/useCoachChat.ts
  src/lib/coach/server/trace.test.ts
  src/lib/coach/server/trace.ts
  src/lib/coach/session-funnel.ts
Due: format, lint, typecheck

refactor(coach): centralize route paths
  src/app/(app)/analytics/page.tsx
  src/app/(app)/history/exercise/[exerciseId]/page.tsx
  src/app/(app)/history/page.tsx
  src/app/(app)/settings/page.tsx
  src/app/(marketing)/layout.tsx
  src/app/api/stripe/checkout/route.ts
  src/app/not-found.tsx
  src/app/pricing/PricingContent.tsx
  src/app/sitemap.ts
  src/components/analytics/body-map-widget.tsx
  src/components/layout/nav.tsx
  src/lib/coach/routes.ts
  src/proxy.ts
Due: format, lint, typecheck

refactor(observability): migrate to Canary
  .agents/skills/volume-manual-qa/SKILL.md
  .agents/skills/volume-manual-qa/scripts/run-volume-manual-qa.sh
  .env.example
  .github/DEPLOYMENT_CHECKLIST.md
  bun.lock
  docs/api-contracts.md
  eslint.config.test.ts
  next.config.ts
  package.json
  scripts/DEPLOYMENT_ERROR_SCENARIOS.md
  scripts/configure-sentry-alerts.sh
  scripts/deploy-observability.sh
  scripts/test-error-handling.sh
  scripts/verify-env.sh
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/(app)/test-error/page.tsx
  src/app/(marketing)/privacy/page.tsx
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
  src/app/api/test-error/route.ts
  src/lib/README.md
  src/lib/analytics.test.ts
  src/lib/analytics.ts
  src/lib/sentry.test.ts
  src/lib/sentry.ts
  src/lib/version.ts
Due: format, lint, typecheck

fix(observability): restore deploy script permissions
  scripts/deploy-observability.sh
Due: none

test(version): align release precedence coverage
  src/lib/version.test.ts
Due: format, lint, typecheck
