Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

refactor: deepen csv-export module with single entry point (#250)
  src/app/(app)/history/page.tsx
  src/lib/csv-export.test.ts
  src/lib/csv-export.ts
Due: format, lint, typecheck

refactor: tighten csv-export with deeper abstraction (#250)
  src/app/(app)/history/page.tsx
  src/lib/analytics.ts
  src/lib/csv-export.test.ts
  src/lib/csv-export.ts
Due: format, lint, typecheck

feat: Add CSV data export for workout history (#258)
  src/app/(app)/history/page.tsx
  src/lib/analytics.ts
  src/lib/csv-export.test.ts
  src/lib/csv-export.ts
Due: format, lint, typecheck

fix(a11y): remove empty heading that confused screen readers (#193)
  src/components/layout/footer.tsx
Due: format, lint, typecheck

fix(a11y): remove empty heading that confused screen readers (#193) (#260)
  src/components/layout/footer.tsx
Due: format, lint, typecheck

feat: add tactile feedback on button presses (#142)
  src/app/(app)/settings/page.tsx
  src/components/dashboard/quick-log-form.tsx
  src/hooks/useTactileFeedback.ts
  src/hooks/useTactileSoundPreference.ts
  src/lib/brutalist-motion.ts
  src/lib/sounds/click.ts
  src/lib/tactile-audio.ts
Due: format, lint, typecheck

refactor: simplify tactile feedback implementation (#142)
  src/components/dashboard/quick-log-form.tsx
  src/hooks/useTactileFeedback.ts
  src/hooks/useTactileSoundPreference.ts
  src/lib/sounds/click.ts
  src/lib/tactile-audio.ts
Due: format, lint, typecheck

feat: add useUndoableAction hook for centralized undo pattern (#256)
  src/components/dashboard/exercise-set-group.tsx
  src/hooks/useUndoableAction.test.ts
  src/hooks/useUndoableAction.ts
Due: format, lint, typecheck

refactor: improve useUndoableAction robustness
  src/components/dashboard/exercise-set-group.tsx
  src/hooks/useUndoableAction.test.ts
  src/hooks/useUndoableAction.ts
Due: format, lint, typecheck

fix: return success boolean from useUndoableAction
  src/components/dashboard/exercise-set-group.tsx
  src/hooks/useUndoableAction.test.ts
  src/hooks/useUndoableAction.ts
Due: format, lint, typecheck

feat: add useUndoableAction hook for centralized undo pattern (#263)
  src/components/dashboard/exercise-set-group.tsx
  src/hooks/useUndoableAction.test.ts
  src/hooks/useUndoableAction.ts
Due: format, lint, typecheck

fix: auto-restore soft-deleted exercise when logging set (#255)
  convex/sets.test.ts
  convex/sets.ts
Due: format, lint, typecheck

docs: update ADR-0002 with logSet auto-restore behavior
  docs/adr/ADR-0002-soft-delete-exercises.md
Due: format

fix: prevent duplicate exercise names on auto-restore (#255)
  convex/sets.test.ts
  convex/sets.ts
Due: format, lint, typecheck

test: use direct document state assertions per review feedback
  convex/sets.test.ts
Due: format, lint, typecheck

Fix undo-delete when exercise is soft-deleted (#265)
  convex/sets.test.ts
  convex/sets.ts
  docs/adr/ADR-0002-soft-delete-exercises.md
Due: format, lint, typecheck

feat: centralize Stripe env validation (#241)
  convex/http.ts
  convex/lib/stripeConfig.ts
  convex/stripe.ts
  src/lib/stripe.ts
  src/lib/stripe/client.ts
  src/lib/stripe/config.ts
  src/lib/stripe/index.ts
Due: format, lint, typecheck, convex-warning

refactor: address code review feedback (#241)
  convex/lib/stripeConfig.ts
  package.json
  pnpm-lock.yaml
  src/lib/stripe/config.ts
  src/lib/stripe/index.ts
  src/lib/stripe/server.ts
Due: format, lint, typecheck, convex-warning

fix: version display shows actual version instead of "dev"
  next.config.ts
  src/lib/version.ts
Due: format, lint, typecheck

feat: add multi-layer Stripe key/environment validation
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/lib/stripeConfig.ts
  scripts/set-stripe-env.sh
  scripts/verify-env.sh
  src/app/api/health/route.ts
  src/lib/stripe/server.ts
Due: format, lint, typecheck, convex-warning

feat: auto-start Stripe webhook forwarding in dev mode
  package.json
  scripts/dev-stripe.sh
Due: format

feat: link version to GitHub release notes
  src/app/(app)/settings/page.tsx
  src/components/layout/footer.tsx
Due: format, lint, typecheck

feat: add release notes parsing and loading library
  src/lib/releases/loader.ts
  src/lib/releases/parser.ts
  src/lib/releases/types.ts
Due: format, lint, typecheck

feat: add release notes generation with LLM synthesis
  content/releases/manifest.json
  content/releases/v1.0.0/changelog.json
  content/releases/v1.0.0/notes.md
  content/releases/v1.1.0/changelog.json
  content/releases/v1.1.0/notes.md
  content/releases/v1.2.0/changelog.json
  content/releases/v1.2.0/notes.md
  content/releases/v1.3.0/changelog.json
  content/releases/v1.3.0/notes.md
  content/releases/v1.3.1/changelog.json
  content/releases/v1.3.1/notes.md
  content/releases/v1.4.0/changelog.json
  content/releases/v1.4.0/notes.md
  content/releases/v1.5.0/changelog.json
  content/releases/v1.5.0/notes.md
  content/releases/v1.5.1/changelog.json
  content/releases/v1.5.1/notes.md
  content/releases/v1.6.0/changelog.json
  content/releases/v1.6.0/notes.md
  package.json
  pnpm-lock.yaml
  scripts/generate-releases.ts
Due: format, lint, typecheck

feat: add public /releases pages
  src/app/releases/[version]/page.tsx
  src/app/releases/page.tsx
Due: format, lint, typecheck

feat: link version to /releases instead of GitHub
  src/app/(app)/settings/page.tsx
  src/components/layout/footer.tsx
Due: format, lint, typecheck

fix: make /releases routes public
  src/middleware.ts
Due: format, lint, typecheck

fix: improve release notes prompt for user-focused copy
  content/releases/manifest.json
  content/releases/v1.0.0/notes.md
  content/releases/v1.1.0/notes.md
  content/releases/v1.2.0/notes.md
  content/releases/v1.3.0/notes.md
  content/releases/v1.3.1/notes.md
  content/releases/v1.4.0/notes.md
  content/releases/v1.5.0/notes.md
  content/releases/v1.5.1/notes.md
  content/releases/v1.6.0/notes.md
  scripts/generate-releases.ts
Due: format, lint, typecheck

feat: migrate release notes to Gemini 3 Flash
  content/releases/manifest.json
  content/releases/v1.0.0/notes.md
  content/releases/v1.1.0/notes.md
  content/releases/v1.2.0/notes.md
  content/releases/v1.3.0/notes.md
  content/releases/v1.3.1/notes.md
  content/releases/v1.4.0/notes.md
  content/releases/v1.5.0/notes.md
  content/releases/v1.5.1/notes.md
  content/releases/v1.6.0/notes.md
  package.json
  pnpm-lock.yaml
  scripts/generate-releases.ts
Due: format, lint, typecheck

feat: migrate all LLM capabilities to OpenRouter
  .env.example
  .github/DEPLOYMENT_CHECKLIST.md
  CLAUDE.md
  content/releases/manifest.json
  content/releases/v1.0.0/notes.md
  content/releases/v1.1.0/notes.md
  content/releases/v1.2.0/notes.md
  content/releases/v1.3.0/notes.md
  content/releases/v1.3.1/notes.md
  content/releases/v1.4.0/notes.md
  content/releases/v1.5.0/notes.md
  content/releases/v1.5.1/notes.md
  content/releases/v1.6.0/notes.md
  convex/_generated/api.d.ts
  convex/ai/openai.test.ts
  convex/ai/openai.ts
  convex/ai/openaiV2.ts
  convex/ai/reports.test.ts
  convex/lib/openrouter.ts
  scripts/generate-releases.ts
  scripts/verify-env.sh
Due: format, lint, typecheck, convex-warning

fix(stripe): subscription improvements from audit
  convex/http.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.test.ts
  convex/subscriptions.ts
  src/app/api/stripe/checkout/route.ts
Due: format, lint, typecheck

feat(settings): show billing date in plan info
  src/app/(app)/settings/page.tsx
Due: format, lint, typecheck

fix(scripts): use --prod flag for production env checks
  scripts/verify-env.sh
Due: none

refactor: simplify subscription and settings code
  convex/subscriptions.ts
  src/app/(app)/settings/page.tsx
Due: format, lint, typecheck

fix: address PR review feedback for Stripe integration
  convex/subscriptions.ts
  scripts/verify-env.sh
  src/app/api/stripe/checkout/route.ts
Due: format, lint, typecheck

fix(stripe): subscription audit fixes and improvements (#271)
  convex/http.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.test.ts
  convex/subscriptions.ts
  scripts/verify-env.sh
  src/app/(app)/settings/page.tsx
  src/app/api/stripe/checkout/route.ts
Due: format, lint, typecheck

fix(version): use semantic version for footer release link
  src/components/layout/footer.tsx
  src/lib/version.ts
Due: format, lint, typecheck

fix(ai): handle OpenAI SDK browser environment error in tests
  convex/lib/openrouter.ts
Due: format, lint, typecheck, convex-warning

fix(stripe): make admin functions internal-only
  convex/stripe.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
