Repository misty-step/volume: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, convex-warning

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: Formatting issues auto-fixed. Review and re-commit.

lint:
  run: pnpm eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Linting issues auto-fixed. Review and re-commit.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript errors found. Fix before committing.

convex-warning:
  run: 'echo ""
  
    echo "⚠️  Convex function changes detected"
  
    echo "   Ensure you''ve tested with: pnpm dev"
  
    echo "   (runs both Next.js AND Convex)"
  
    echo ""
  
    '
  interactive: false

fix(coach): harden schema and log_set parsing
  src/components/coach/useCoachChat.ts
  src/lib/coach/agent-prompt.ts
  src/lib/coach/schema.ts
  src/lib/coach/tools/definitions.ts
  src/lib/coach/tools/tool-log-set.ts
  src/lib/coach/tools/types.ts
Due: format, lint, typecheck

test(coach): add api and schema coverage
  src/app/api/coach/route.test.ts
  src/lib/coach/agent-tools.test.ts
  src/lib/coach/schema.test.ts
  src/test/setup.ts
Due: format, lint, typecheck

chore: fix quality check script
  AGENTS.md
  package.json
Due: format

docs: document coach api contract
  .env.example
  docs/adr/ADR-0001-rate-limits.md
  docs/coach-agent-architecture.md
Due: format

test(coach): cover planner and sse client
  src/lib/coach/server/planner.test.ts
  src/lib/coach/sse-client.test.ts
Due: format, lint, typecheck

test(coach): improve planner coverage
  src/lib/coach/server/blocks.test.ts
  src/lib/coach/server/planner.test.ts
Due: format, lint, typecheck

fix(ci): stabilize cerberus council
  .github/workflows/cerberus.yml
Due: format

fix: address coach review feedback
  src/app/(marketing)/privacy/page.tsx
  src/components/coach/CoachPrototype.tsx
  src/components/coach/useCoachChat.ts
  src/lib/coach/schema.ts
  src/lib/coach/tools/data.ts
  src/lib/coach/tools/tool-log-set.test.ts
  src/lib/coach/tools/tool-log-set.ts
Due: format, lint, typecheck

fix: align stripe api version for build
  convex/lib/stripeConfig.ts
  src/lib/stripe/config.ts
  tailwind.config.ts
  tsconfig.json
Due: format, lint, typecheck, convex-warning

chore: update vision
  vision.md
Due: format

fix: reserve space for coach mobile chat
  src/components/coach/CoachPrototype.tsx
Due: format, lint, typecheck

fix: tidy coach mobile layout spacing
  src/components/coach/CoachPrototype.tsx
Due: format, lint, typecheck

test: add coach prototype layout regression
  src/components/coach/CoachPrototype.test.tsx
Due: format, lint, typecheck

fix: reserve space for mobile coach chat (#353)
  src/components/coach/CoachPrototype.test.tsx
  src/components/coach/CoachPrototype.tsx
Due: format, lint, typecheck

feat: migrate from pnpm to Bun
  .github/DEPLOYMENT_CHECKLIST.md
  .github/docs/CI-DEBUGGING.md
  .github/pull_request_template.md
  .github/workflows/cerberus.yml
  .github/workflows/e2e.yml
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
  .lefthook.yml
  CLAUDE.md
  README.md
  bun.lock
  convex/analytics.ts
  convex/migrations/backfillMuscleGroups.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  vercel.json
Due: format, lint, typecheck, convex-warning

fix: remove pre-push security-audit hook (bun pm scan requires scanner config)
  .lefthook.yml
Due: format

fix(ci): ignore Cerberus parse failures in council verdict
  .github/workflows/cerberus.yml
Due: format

fix(ci): fail Cerberus checks on parse failures
  .github/workflows/cerberus.yml
Due: format

fix(ci): use high-context models for Cerberus reviews
  .github/workflows/cerberus.yml
Due: format

fix(ci): fail Cerberus when reviews skip
  .github/workflows/cerberus.yml
Due: format

fix(ci): migrate Cerberus workflow to v2
  .github/workflows/cerberus.yml
Due: format

fix: remove hardcoded paths from lefthook hooks
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

fix(ci): fail Cerberus reviewer jobs on FAIL verdict
  .github/workflows/cerberus.yml
Due: format

fix(ci): reduce Cerberus testing timeouts
  .github/workflows/cerberus.yml
Due: format

fix(ci): reduce Cerberus architecture timeouts
  .github/workflows/cerberus.yml
Due: format

feat: migrate from pnpm to Bun (#355)
  .github/DEPLOYMENT_CHECKLIST.md
  .github/docs/CI-DEBUGGING.md
  .github/pull_request_template.md
  .github/workflows/cerberus.yml
  .github/workflows/e2e.yml
  .lefthook.yml
  CLAUDE.md
  README.md
  bun.lock
  convex/analytics.ts
  convex/migrations/backfillMuscleGroups.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/lefthook-validator.test.ts
  src/lib/lefthook-validator.ts
  vercel.json
Due: format, lint, typecheck, convex-warning

chore: sync lefthook hook shims
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

fix: remove machine-specific lefthook fallback
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

chore: sync lefthook hook shims (#358)
  .husky/_/commit-msg
  .husky/_/post-checkout
  .husky/_/pre-commit
  .husky/_/pre-push
Due: none

chore: align docs and scripts with bun
  AGENTS.md
  scripts/dev-stripe.sh
  scripts/generate-releases.ts
  scripts/migrate-dev-to-prod.sh
  scripts/pull-prod-data.sh
  scripts/set-stripe-env.sh
  scripts/validate-lefthook-config.ts
  scripts/verify-coverage.ts
  scripts/verify-env.sh
Due: format, lint, typecheck

fix: remove remaining pnpm and npx references
  .env.example
  .github/DEPLOYMENT_CHECKLIST.md
  convex/README.md
  e2e/README.md
  playwright.config.ts
  src/components/dashboard/README.md
  src/hooks/README.md
  src/lib/README.md
Due: format, lint, typecheck

chore: align docs and scripts with bun (#359)
  .env.example
  .github/DEPLOYMENT_CHECKLIST.md
  AGENTS.md
  convex/README.md
  e2e/README.md
  playwright.config.ts
  scripts/dev-stripe.sh
  scripts/generate-releases.ts
  scripts/migrate-dev-to-prod.sh
  scripts/pull-prod-data.sh
  scripts/set-stripe-env.sh
  scripts/validate-lefthook-config.ts
  scripts/verify-coverage.ts
  scripts/verify-env.sh
  src/components/dashboard/README.md
  src/hooks/README.md
  src/lib/README.md
Due: format, lint, typecheck

fix: add PostHog privacy defaults + proxy rewrite
  next.config.ts
  src/components/posthog-provider.tsx
  src/middleware.ts
Due: format, lint, typecheck

chore: groom
  .groom/plan-2026-02-23.md
  project.md
  vision.md
Due: format

feat(coach): migrate planner to AI SDK 6 streamText + createCoachTools factory
  bun.lock
  package.json
  src/app/api/coach/route.ts
  src/lib/coach/server/coach-tools.ts
  src/lib/coach/server/planner.test.ts
  src/lib/coach/server/planner.ts
  src/lib/coach/server/runtime.ts
Due: format, lint, typecheck

chore: groom
  .groom/retro.md
Due: format

chore: add CI summary job to satisfy branch protection gate
  .github/workflows/cerberus.yml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  convex-warning: any of: convex/**/*.ts
